button{
    background-color: transparent;
    border-radius:10px;
    outline: none;
    border: none;
    color: rgb(20, 116, 196);
}

.boton-personalizado{
    background-color: rgb(221, 75, 57);
    color:#ffffff;
    width: 81px;
    height: 13px;
    font-size: 9.6px;
}