button{
    background-color: transparent;
    border-radius:10px;
    outline: none;
    border: none;
    color: var(--primary);
}

.boton-personalizado{
    background-color: rgb(221, 75, 57);
    color:#ffffff;
    //width: 110px;
    //height: 20px;
    //font-size: 9.6px;
}