<div class="footer-div">
    <figure class="card-imageContainer">
        <img src="../../../../assets/images/logo_universidad_acreditacion.png" class="card-image" alt="logo-udistrital">
    </figure>
    <div class="footer-column">
        <div class="footer-title">
            <h5>Oficina Asesora de Sistemas</h5>
        </div>
    </div>

    <div class="footer-logos">
        <div class="social" *ngFor="let lista of social.list">
            <i class="icon {{lista.class}}"></i>
            <div class="text-container">
                <p *ngFor="let value of lista.value">
                    {{value}}
                </p>
            </div>
        </div>
    </div>
</div>
