@import "../../styles/themes";
@import "~@nebular/theme/styles/global/breakpoints";
@import "~bootstrap/scss/mixins/breakpoints";

.footer-div {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top:1%;
}

.card-imageContainer {
  padding-right: 2px;
  object-fit: cover;
  border-right: 0.1rem solid black;
  align-self: center;
}
.text-container {
  align-self: center;
}
.card-image {
  width:230px;
}

.footer-column {
  color:black;
  width: 10%;
  margin-top:1%;
  align-self: center;
  margin-right: 3%;
}

.footer-title {
  text-align: center;
}
h3,h5 {
  // font-family: OpenSans !important;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-family: Exo;
  margin-top:0;
  color:black;
}

.footer-logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width:65%;
}
.nav {
  display: block;
}
.social {
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
  color:black;
  justify-content: center;
  width:147px;
  align-self: center;
}
.icon-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.icon {
  font-size:26px;
  align-self: center;
  margin-right: 10px;
  color: #4fb9ff !important;
}
p {
  font-size:12px;
  text-align: center;
  margin: 0;
  // font-family: OpenSans;
}

@media screen and (max-width: 1132px) {
  .social {
      width:135px;
  }
  p {
      font-size:12px;
  }
  .footer-column {
      margin-right:0;
  }

}

@media screen and (max-width: 930px) {
  .social {
      width:135px;
  }
  .footer-logos {
      width:50%;
  }
}

@media screen and (max-width: 768px) {
  .social {
      width:135px;
  }
}

@media screen and (max-width: 620px) {
  .social {
      width:135px;
  }
  .footer-logos {
      width:100%;
  }
  .footer-column {
      width:30%;
  }
}

@media screen and (max-width: 330px) {
  .card-image {
      width: 200px;
  }
  h5 {
      font-size:15px;
  }
}
