:host ::ng-deep .nb-theme-default ng2-smart-table table tr td {
    font-size: 0.85rem;
}

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-table {
    overflow: auto;
}

.mat-row:nth-child(even) {
    background-color: rgb(255, 255, 255);
}

.mat-row:nth-child(odd) {
    background-color: rgb(255, 255, 255);
}

.columna {
    width: 33%;
    float: left;
}

@media (max-width: 500px) {
    .columna {
        width: auto;
        float: none;
    }
}

.mat-success {
    background-color: green;
    color: #fff;
}

.mat-success-1 {
    background-color: rgb(196, 199, 16);
    color: #fff;
}

.capitalize {
    text-transform: capitalize;
}

.inner {
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.encabezado {
    background-color: rgb(220, 221, 238);
}
