<toaster-container [toasterconfig]="config"></toaster-container>
<nb-card>
  <nb-card-body>
    <div class=col-12>
      <fieldset [ngClass]="{'fieldseter':true}" >
        <legend>
          &nbsp; {{ 'admision.listar_aspirantes' | translate }}
        </legend>
        <!-- <nb-card-header>
                    <mat-form-field style="width: 40%;">
                            <mat-label>{{ 'cupos.aviso_periodo_listar' | translate }}:</mat-label>
                            <mat-select [(ngModel)]="periodo" [disabled]='true'>
                                <mat-option>--Seleccionar--</mat-option>
                                <mat-option *ngFor="let item of periodos" [value]="item">
                                    {{item.Nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>


                    <mat-form-field style="width: 100%;">
                        <mat-label>{{ 'cupos.aviso_nivel_listar' | translate }}:</mat-label>
                        <mat-select [formControl]="CampoControl" [(ngModel)]="selectednivel" (selectionChange)="loadProyectos()" >
                            <mat-option>--Seleccionar--</mat-option>
                            <mat-option *ngFor="let item of nivel_load" [value]="item">
                                {{item.nombre}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="CampoControl.hasError('required')">{{ 'cupos.erro_selec_nivel' | translate }}</mat-error>
                    </mat-form-field>

                <mat-form-field style="width: 100%;">
                    <mat-label>{{ 'cupos.aviso_proyec' | translate }}:</mat-label>
                    <mat-select [formControl]="Campo1Control" [(ngModel)]="proyectos_selected" (selectionChange)="activar_button()" [disabled]='selectprograma'>
                        <mat-option *ngFor="let item of proyectos" [value]="item">
                            {{item.Nombre}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="Campo1Control.hasError('required')">{{ 'cupos.erro_selec_proyecto' | translate }}</mat-error>
                </mat-form-field>
            </nb-card-header> -->

        <nb-card>
          <nb-card-header>
            <!-- select periodo -->
            <mat-form-field style="width: 40%;">
              <mat-label>{{ 'calendario.periodo' | translate }}:</mat-label>
              <mat-select [(ngModel)]="periodo" >
                <mat-option>--Seleccionar--</mat-option>
                <mat-option *ngFor="let item of periodos" [value]="item">
                  {{item.Nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <!-- select Nivel -->
            <mat-form-field style="width: 100%;">
              <mat-label>{{ 'GLOBAL.nivel' | translate }}:</mat-label>
              <mat-select [formControl]="CampoControl" [(ngModel)]="selectednivel" (selectionChange)="loadProyectos()">
                <mat-option>--Seleccionar--</mat-option>
                <mat-option *ngFor="let item of niveles" [value]="item.Id">
                  {{item.Nombre}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="CampoControl.hasError('required')">{{ 'cupos.erro_selec_nivel' | translate }}</mat-error>
            </mat-form-field>
            <!-- select proyectos -->
            <mat-form-field style="width: 100%;">
              <mat-label>{{ 'GLOBAL.proyecto_academico' | translate }}:</mat-label>
              <mat-select [formControl]="Campo1Control"
                          [(ngModel)]="proyectos_selected"
                          (selectionChange)="activar_button()"
                          [disabled]='selectprograma'>
                <mat-option *ngFor="let item of proyectos" [value]="item">
                  {{item.Nombre}}
                </mat-option>
              </mat-select>
                <mat-error *ngIf="Campo1Control.hasError('required')">{{ 'cupos.erro_selec_proyecto' | translate }}</mat-error>
            </mat-form-field>
          </nb-card-header>
        </nb-card>

        <!-- <button mat-button (click)="mostrartabla()" type="submit" nbButton status="success" [disabled]="buttoncambio">{{ 'admision.enlistar' | translate }}</button> -->
      </fieldset>
    </div>
  </nb-card-body>
</nb-card>

<nb-card status="success" style="border: 1px solid var(--primary);" *ngIf="mostrarConteos">
  <nb-card-header class="d-flex justify-content-around align-items-center">
    {{ 'admision.resumen_estados_inscripcion' | translate }}
  </nb-card-header>
  <nb-card-body class="d-flex justify-content-around align-items-center">
    <label>{{ 'admision.estado_inscrip_solicitada' | translate }}: <b>{{cantidad_inscrip_solicitada}}</b></label>
    <label>{{ 'admision.estado_admitido' | translate }}: <b>{{cantidad_admitidos}}</b></label>
    <label>{{ 'admision.estado_opcionado' | translate }}: <b>{{cantidad_opcionados}}</b></label>
    <label>{{ 'admision.estado_no_admitido' | translate }}: <b>{{cantidad_no_admitidos}}</b></label>
    <label>{{ 'admision.estado_inscrito' | translate }}: <b>{{cantidad_inscritos}}</b></label>
    <label>{{ 'admision.total_aspirantes' | translate }}: <b>{{cantidad_aspirantes}}</b></label>
  </nb-card-body>
</nb-card>

<nb-card [hidden]="!show_listado" accent="info">
        <nb-card-header class="d-flex justify-content-around align-items-center">
          <label>{{ 'cupos.cupos_proyecto' | translate }}: <b>{{cuposProyecto}}</b></label>
          <label>{{ 'cupos.cupos_disponibles' | translate }} <b>{{(cuposProyecto - cuposAsignados )}}</b></label>
          <button class="btn btn-primary" (click)="admitirInscritos()" *ngIf="(cuposProyecto - cuposAsignados ) > 0" >
            {{ 'GLOBAL.admitir' | translate }} 
            {{inscritos.length < (cuposProyecto - cuposAsignados )? inscritos.length: (cuposProyecto - cuposAsignados ) }} 
            {{ 'GLOBAL.aspirantes_inscritos' | translate }}
          </button>
        </nb-card-header>
</nb-card>

<nb-card *ngIf="show_listado" accent="info"  [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="xxlarge"
nbSpinnerMessage="{{ 'GLOBAL.cargando' | translate }}">
        <nb-card-body>
            <div class="row">
                <div class="col-12">
                    <ng2-smart-table [settings]="settings_emphasys" [(source)]="source_emphasys" (editConfirm)="onSaveConfirm($event)">
                    </ng2-smart-table>
                </div>
            </div>
        </nb-card-body>
</nb-card>