
.mat-expansion-panel-body{
  overflow: auto;
}

.mat-expansion-panel-header {
    border-bottom-style: solid;
    border-bottom-color: rgb(156, 220, 255);
    border-bottom-width: thin;
}

.exp-card {
    align-content: center;
    cursor: pointer;
    width: 13.5rem;
    height: 14.5rem;
    transition: background-color 1s;
}
