
<toaster-container [toasterconfig]="config"></toaster-container>
<div class="dinamic-form">
    <form class="form-horizontal">
        <fieldset [ngClass]="{'fieldseter':true}">
            <legend align="left">
                <small>{{'archivo_icfes.archivo_icfes' | translate}}</small>
            </legend>
            <div class="row">
                <div class="col-12">
                    <mat-form-field style="width: 100%;" class="form-group" floatLabel="always">
                        <mat-label>* {{'archivo_icfes.nombre' | translate}}:</mat-label>
                        <input matInput [(ngModel)]="archivo_icfes_data.name" [ngModelOptions]="{standalone: true}" type="text" id="name" [placeholder]="translate.instant('archivo_icfes.placeholder_nombre')" />
                        <mat-hint class="text-danger" *ngIf="!archivo_icfes_data.name">{{'GLOBAL.alerta_llenar_campo' | translate}}</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-12">
                  <div class="row">
                      <div class="col-12">
                          <label for="archivo_icfes" class="upload-file">
                              * {{'archivo_icfes.archivo' | translate}}
                          </label>
                          <input type="file" id="archivo_icfes" accept="text/plain" (change)="onFileChange($event)" />
                          <br>
                          <mat-hint class="text-danger" *ngIf="!archivo_icfes_data.archivo_icfes">{{'GLOBAL.alerta_llenar_campo' | translate}}</mat-hint>
                      </div>
                      <!--div class="col-4">
                          <nb-card-body class="col-4" *ngIf="!(c.tipo == 'image')">
                              <img class="carousel-image" [src]="'assets/images/file.png'"
                                  class="img-thumbnail"
                                  alt="file" width="50px" height="50px">
                          </nb-card-body>
                      </div-->
                  </div>
              </div>
            </div>
            <div *ngIf="archivo_icfes_data.name && archivo_icfes_data.archivo_icfes" align="right" class="form-group">
                <br>
                <button class="btn btn-success btn-sm" (click)="postArchivoIcfes()">{{'GLOBAL.guardar' | translate}}</button>
            </div>
        </fieldset>
    </form>
</div>
<!--ngx-dinamicform [normalform]="formPerfil" [modeloData]="info_perfil" (result)="validarForm($event)" [clean]="clean">
</ngx-dinamicform-->
<!--form ngNoForm  action="http://localhost:8095/v1/archivo_icfes" method="post" enctype="multipart/form-data">
    <label for="archivo_icfes">Filename:</label>
    <input type="file" name="archivo_icfes" id="archivo_icfes">
    <input type="submit" name="submit" value="Submit">
</form-->
<!--form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Bob" formControlName="name">
    </div>
    <div class="form-group">
      <label for="archivo_icfes">Archivo</label>
      <input type="file" id="archivo_icfes" (change)="onFileChange($event)" #fileInput>
      <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">clear file</button>
    </div>
    <button type="submit" [disabled]="form.invalid || loading" class="btn btn-success">Submit <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
</form-->