<div class="dinamic-form" [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="xxlarge"
  nbSpinnerMessage="{{ 'GLOBAL.cargando' | translate }}">
  <form novalidate [formGroup]="revisionForm" (ngSubmit)="guardarRevision()" class="form-horizontal" >
    <fieldset [ngClass]="{'fieldseter': true} ">
      <legend>
        &nbsp; {{ 'admision.revisar_docs' | translate }}
      </legend>
      <div class="row">
        <div class="col-6">
          <ngx-extended-pdf-viewer [src]="documento" [height]="'65vh'" [useBrowserLocale]="true" (pdfLoaded)="docCargado()">
          </ngx-extended-pdf-viewer>
        </div>
        <div class="col-6 d-flex align-items-start flex-column">
          <div class="row mb-auto" style="width: 100%;" *ngIf="!observando">
            <div class="col-4">
              <mat-label>{{ 'admision.doc_valido' | translate }}*: </mat-label>
            </div>
            <div class="col-8">
              <mat-slide-toggle formControlName="aprobado"></mat-slide-toggle>
            </div>
          </div>
          <div class="row" style="width: 100%;">
            <div class="col-3">
              <mat-label>{{ 'GLOBAL.observacion' | translate }}: </mat-label>
            </div>
            <div class="col-9">
              <mat-form-field style="width: 100%;" *ngIf="!observando">
                <textarea class="observacion" matInput formControlName="observacion" rows="10"></textarea>
              </mat-form-field>
                <textarea class="observacion" formControlName="observacion" rows="10" disabled style="width: 100%;"
                  *ngIf="observando"></textarea>
            </div>
          </div>
          <div class="row mt-auto ml-auto" style="width: 100%;" *ngIf="!observando">
            <div class="col-12">
              <button class="float-right" mat-button type="submit" [disabled]="revisionForm.invalid">{{ 'GLOBAL.guardar'
                | translate }} </button>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>