@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@include nb-install-component() {
    nb-card {
        padding: 1rem;
    }
}

.fondo_aviso {
    background-color: rgb(254, 243, 205);
    padding: 10px;
    color: rgb(163, 139, 76);
    font-size: 14px;
}

.fondo-encabezado {
    background-color: rgb(120, 120, 120);
    color: #fff;
    padding: 5px;
}

.mat-button {
    background-color:rgb(0, 162, 255);
    color: #fff;
}

:host ::ng-deep ng2-smart-table table tr td, :host ::ng-deep ng2-smart-table thead th {
    text-align: center;
}
