<nb-card>
    <nb-card-header>
        {{ 'espacios_academicos.preinscripcion_titulo' | translate }}
    </nb-card-header>
    <nb-card-body>
        <div class="">
            <div class="row">
                <div class="col-6 col-md-3">
                    {{ 'GLOBAL.periodo' | translate }}: 
                </div>
                <div class="col-6 col-md-3">
                    {{periodo.Nombre}}
                </div>
                <div class="col-6 col-md-3">
                    {{ 'GLOBAL.proyecto_academico' | translate }}: 
                </div>
                <div class="col-6 col-md-3">
                    {{proyecto}}
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-md-3">
                    {{ 'solicitudes.codigo' | translate }}: 
                </div>
                <div class="col-6 col-md-3">
                    {{codigo_estudiante}}
                </div>
                <div class="col-6 col-md-3">
                    {{ 'enfasis.enfasis' | translate }}:
                </div>
                <div class="col-6 col-md-3">
                    {{enfasis}}
                </div>
            </div>
            <div class="row">
                <div class="offset-md-6"></div>
                <div class="col-6 col-md-3">
                    {{ 'GLOBAL.tipo_proyecto' | translate }}:
                </div>
                <div class="col-6 col-md-3">
                    {{modalidad}}
                </div>
            </div>
        </div>
        <br>

        <div class="text-center" [hidden]="isPreinscrito" >
            <label class="fondo_aviso">
                {{ 'espacios_academicos.sin_preinscripcion' | translate }}
            </label>
        </div>
        <br>
        <router-outlet></router-outlet>
        <div *ngIf="isPreinscrito && !preinscribiendo">
            <h5 class="fondo-encabezado">{{ 'GLOBAL.preinscripcion' | translate }} {{periodo.Nombre}} </h5>
            <ng2-smart-table [settings]="settings" [source]="preinscritos" ></ng2-smart-table>
        </div>
        <br>
        <div class="text-center" [hidden]="preinscribiendo">
            <button type="button" mat-button (click)="preinscribir()" >{{ 'espacios_academicos.preinscribir_boton' | translate }} </button>
        </div>
    </nb-card-body>
</nb-card>