.container-percentage {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: white;
    border-radius: 0.5rem;
    border: 1px var(--primary);
    width: auto;
    min-width: 7rem;
    max-width: 10rem;//18vw;
    padding: 0.5rem;
    justify-content: space-around;
    * {
        width: 2.5rem;
    }
}

.container-form {
    margin: 0.5rem;
    padding: 0.5rem;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    border-radius: 0.5rem;
    width: auto;
    min-width: 7.5rem;
    max-width: 12rem;
    //box-shadow: 1px 1px 3px 0px #888888;
    border: 2px solid lightsteelblue;
}

input::after {
    content: '%';
}