<nb-card [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="xxlarge"
nbSpinnerMessage="{{ 'GLOBAL.cargando' | translate }}" [ngSwitch]="vista">
    <!-- Vista de tabla lista consolidados -->
    <ng-container *ngSwitchCase="VIEWS.LIST">
        <nb-card-header>
            <div class="row" align="center">
                <div class="col">
                    {{ 'ptd.revision_consolidado' | translate }}
                </div>
            </div>
        </nb-card-header>
        <nb-card-body>
            <fieldset [ngClass]="{'fieldseter':true}" style="overflow:auto;">
                <legend><small>&nbsp; {{ 'ptd.list_consolidados' | translate }}</small></legend>

                <mat-form-field style="width: 20%;">
                    <mat-label>{{ 'GLOBAL.periodo' | translate }}:</mat-label>
                    <mat-select [(ngModel)]="periodos.select" (selectionChange)="listarConsolidados()">
                        <mat-option>--{{ 'GLOBAL.seleccionar' | translate }}--</mat-option>
                        <mat-option *ngFor="let item of periodos?.opciones" [value]="item">
                            {{item.Nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                &nbsp;
                <mat-form-field style="width: 30%;">
                    <mat-label>{{ 'GLOBAL.proyecto_academico' | translate }}:</mat-label>
                    <mat-select [(ngModel)]="proyectos.select" (selectionChange)="listarConsolidados()">
                        <mat-option>--{{ 'GLOBAL.seleccionar' | translate }}--</mat-option>
                        <mat-option *ngFor="let item of proyectos?.opciones" [value]="item">
                            {{item.Nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                &nbsp;<button mat-stroked-button (click)="listarConsolidados()"> {{ 'GLOBAL.actualizar' | translate }} </button>

                <ng2-smart-table [settings]="tbRevConsolidados" [source]="dataRevConsolidados" *ngIf="tbRevConsolidados">
                </ng2-smart-table>
            </fieldset>
        </nb-card-body>
        <nb-card-footer>
        </nb-card-footer>
    </ng-container>
    <!-- Vista de formulario consolidados -->
    <ng-container *ngSwitchCase="VIEWS.FORM">
        <nb-card-header>
            <button mat-stroked-button class="top-left-regresar" (click)="regresar()">{{ 'GLOBAL.regresar' | translate }}</button>
            <div class="row" align="center">
                <div class="col">
                    {{ 'ptd.revision_consolidado' | translate }}
                </div>
            </div>
        </nb-card-header>
        <nb-card-body>
            <!-- formulario revision consolidado -->
            <div align="center">
                <div *ngIf="formRevConsolidado.btn != ''" class="info-alert" style="width: 97.5%;"> {{ 'ptd.info_cambio_documento_consolidado' | translate }} </div>
            </div>
            <ngx-dinamicform [normalform]="formRevConsolidado" [modeloData]="dataRevConsolidado" (result)="validarFormRevConsolidado($event)">
            </ngx-dinamicform>
        </nb-card-body>
        <nb-card-footer>
        </nb-card-footer>
    </ng-container>
</nb-card>