.text-center{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.boton-primary {
    border: solid 1px #03678f;
    background-color: #03678f;
    border-color: #03678f;
    cursor: pointer;
    color: white !important;
    display: flex;
    padding: 10px;
    margin: 0 0 15px;
    border-radius: 5px;
}

.contenedor-inscripcion {
    margin: 20px;
    border: solid 1px var(--primary);
    border-radius: 6px;
}

.contenedor-inscripcion .fieldseter legend {
    background-color: var(--primary);
    text-align: center;
    color: white;
    border-radius: 5px 5px 0 0;
    padding: 10px;
    margin: 0;
    width: 100%;
}

.contenedor-inscripcion mat-form-field {
    width: 100%;
    padding: 10px 15px 0;
}

.contenedor-parametros {
    display: flex;
    margin: 10px 15px;
    justify-content: space-between;
    align-items: center;
}

.contenedor-parametros div {
    margin: 10px 0;
}

@media(max-width: 500px) {
    .contenedor-parametros {
      flex-direction: column;
    }
    
    .text-center {
        flex-direction: column;
    }
}

.fieldseter {
    border: solid 1px var(--primary);
    border-radius: 6px;
    margin: 10px 0;
}

.fieldseter legend {
    padding: 0 10px;
    color: var(--primary);
}