<nb-card [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="xxlarge"
    nbSpinnerMessage="{{ 'GLOBAL.cargando' | translate }}" *ngIf="process === 'my'">
    <nb-card-header>
        {{ 'inscripcion.solicitud_transferencia' | translate }}
    </nb-card-header>
    <nb-card-body>
        <div style="padding: 1rem;">
            <fieldset class="fieldseter">
                <legend><small>
                        Información general
                    </small></legend>
                <div style="display: -webkit-box; text-align-last: left;">
                    <div class="col-4">
                        <b>{{ 'inscripcion.periodo' | translate }}</b>: {{ periodo }}
                    </div>
                    <div class="col-4">
                        <b>{{ 'inscripcion.nivel' | translate }}:</b> {{ nivelNombre }}
                    </div>
                    
                    <div class="col-4">
                        <b>{{ 'inscripcion.tipo' | translate }}:</b> {{ tipo }}
                    </div>
                </div>
                <br />
            </fieldset>
        </div>
        <!-- <br> -->
        <ngx-dinamicform [normalform]="formTransferencia" [modeloData]="dataTransferencia" (result)="validarForm($event)">
        </ngx-dinamicform>
        <fieldset class="fieldseter" *ngIf="tipo === 'externa'">
            <ngx-inscripcion_general [inscriptionSettings]="inscriptionSettings"></ngx-inscripcion_general>
        </fieldset>
        
    </nb-card-body>

    <nb-card-footer>
        <div class="text-center">
            <button mat-button type="button" (click)="goback()">
                {{ 'GLOBAL.cancelar' | translate }}
            </button>
            <button mat-button type="button" (click)="send()">
                {{ 'GLOBAL.enviar' | translate }}
            </button>
        </div>
    </nb-card-footer>
</nb-card>

<nb-card [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="xxlarge"
    nbSpinnerMessage="{{ 'GLOBAL.cargando' | translate }}" *ngIf="process === 'all'">
    <nb-card-header>
        {{ 'inscripcion.solicitud_transferencia' | translate }}
    </nb-card-header>
    <nb-card-body>
        <fieldset class="fieldseter m-4">
            <legend>Información general</legend>
            <div style="display: -webkit-box; text-align-last: left;">
                <div class="col-4">
                    <b>{{ 'GLOBAL.nombre' | translate }}</b>: {{ general.nombre }}
                </div>
                <div class="col-4">
                    <b>{{ 'GLOBAL.codigo' | translate }}:</b> {{ general.codigo }}
                </div>
                
                <div class="col-4">
                    <b>{{ 'GLOBAL.documento' | translate }}:</b> {{ general.documento }}
                </div>
            </div>

        </fieldset>

        <fieldset class="fieldseter m-4">
            <legend>Información de la solicitud</legend>
            <div class="col-12">
                <b>{{ 'inscripcion.periodo' | translate }}</b>: {{ this.periodo }}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>{{ 'inscripcion.nivel' | translate }}:</b> {{ nivelNombre }}
            </div>
            <br />
            <div class="col-12">
                <b>{{ 'inscripcion.tipo' | translate }}:</b> {{ tipo }}
            </div>
        </fieldset>

        <ngx-dinamicform [normalform]="formTransferencia">
            <ngx-download-file-nuxeo (loading)="changeLoading($event)" [idDoc]="file.id" [label]="file.label">
            </ngx-download-file-nuxeo>
        </ngx-dinamicform>
        <ngx-dinamicform [normalform]="formRespuesta" (interlaced)="respuestaForm($event)"
            (result)="validarFormRespuesta($event)">
            <div clas="row">
                <div class="col-6">
                    <b>{{ 'GLOBAL.nombre' | translate }}</b>: {{ responde.nombre }}
                </div>
                <div class="col-6">
                    <b>{{ 'GLOBAL.rol' | translate }}:</b> {{ responde.rol }}
                </div>
            </div>
        </ngx-dinamicform>

    </nb-card-body>

    <nb-card-footer>
        <div class="text-center">
            <button mat-button type="button" (click)="goback()">
                {{ 'GLOBAL.cancelar' | translate }}
            </button>
        </div>
    </nb-card-footer>
</nb-card>