@import '../../../@theme/styles/themes';
:host ::ng-deep .nb-theme-default ng2-smart-table table tr td {
  font-size: 0.85rem;
}

.mat-button {
  background-color: nb-theme(color-primary);
  color: #fff;
}

.mat-raised-button {
  background-color: #d9534f;
  color: #fff;
}

.mat-form-field {
  display: contents;
}
