:host /deep/ .nb-theme-default ng2-smart-table table tr td {
  font-size: 0.85rem;
}

.mat-button {
  color: #fff;
}

.mat-raised-button {
  background-color: #d9534f;
  color: #fff;
}

.mat-form-field {
  display: contents;
}
