<nb-card [nbSpinner]="loading"
         nbSpinnerStatus="success"
         nbSpinnerSize="xxlarge"
         nbSpinnerMessage="{{ 'GLOBAL.cargando' | translate }}">
    <ngx-dinamicform [normalform]="formInfoPersona"
                     [modeloData]="info_info_persona"
                     (result)="validarForm($event)"
                     [clean]="clean"
                     (percentage)="setPercentage($event)"
                     (interlaced)="checkExistePersona($event)">
    </ngx-dinamicform>

    <!-- <div class="text-center">
        <button (click)="openVideoModal('video7')" class="round-button btn">
          <div class="button-content">
            <img src="../../../../assets/images/BtnInformativo.png" width="30" height="30" title="{{ 'GLOBAL.ayuda' | translate }}">
            <p style="font-weight: 500;">{{ 'GLOBAL.ayuda' | translate }}</p>
          </div>
        </button>
    </div> -->
    
</nb-card>
<!--ngx-loading [hidden]="!loading"></ngx-loading-->
