<nb-card>
  <div class="col-12" *ngIf="showTable">
    <fieldset
      [ngClass]="{ fieldseter: true }"
      [nbSpinner]="loading"
      nbSpinnerStatus="success"
      nbSpinnerSize="xxlarge"
      nbSpinnerMessage="{{ 'GLOBAL.cargando' | translate }}"
    >
      <legend>
        &nbsp;{{
          "MENU.gestionar_solicitudes.solicitudes_actualizacion" | translate
        }}
      </legend>
      <nb-card-header> </nb-card-header>
      <nb-card-body>
        <ng2-smart-table
          [settings]="estructuraTabla"
          [source]="solicitudes"
          (custom)="onclick($event)"
        ></ng2-smart-table>
        <i matTooltip="Info" class="nb-search"></i>
      </nb-card-body>
    </fieldset>
  </div>

  <nb-card-body *ngIf="showSolicitudID">
    <ngx-actualizacion-datos></ngx-actualizacion-datos>
    <button (click)="activateTab()" class="btn btn-info btn-sm">
      <i class="nb-arrow-dropleft"></i> {{ "GLOBAL.regresar" | translate }}
    </button>
  </nb-card-body>

  <nb-card-body *ngIf="showSolicitudNombre">
    <actualizacion-nombres></actualizacion-nombres>
    <button (click)="activateTab()" class="btn btn-info btn-sm">
      <i class="nb-arrow-dropleft"></i> {{ "GLOBAL.regresar" | translate }}
    </button>
  </nb-card-body>
</nb-card>
