<mat-card *ngIf="info_informacion_contacto">
  <mat-card-title>{{"GLOBAL.informacion_contacto" | translate}}</mat-card-title>
  <mat-card-content class="row container">
    <div class="col-md-12">
      <p>
        <b>{{'GLOBAL.telefono' | translate}}: </b>{{info_informacion_contacto.Telefono}} <br>
        <b>{{'GLOBAL.telefono_alternativo' | translate}}: </b>{{info_informacion_contacto.TelefonoAlterno}} <br>
      </p>
      <p>
        <b>{{'GLOBAL.estrato_residencia' | translate}}:: </b>{{info_informacion_contacto.EstratoResidencia}} <br>
        <b>{{'GLOBAL.direccion_residencia' | translate}}: </b>{{info_informacion_contacto.DireccionResidencia}} <br>
        <b>{{'GLOBAL.codigo_postal' | translate}}: </b>{{info_informacion_contacto.CodigoPostal}} <br>
        <b>{{'GLOBAL.pais_residencia' | translate}}: </b>{{info_informacion_contacto.PaisResidencia.Nombre}} <br>
        <b>{{'GLOBAL.departamento_residencia' | translate}}: </b>{{info_informacion_contacto.DepartamentoResidencia.Nombre}} <br>
        <b>{{'GLOBAL.ciudad_residencia' | translate}}: </b>{{info_informacion_contacto.CiudadResidencia.Nombre}} <br>
      </p>
      
      <!-- <ul>
        <li *ngFor="let contacto of info_informacion_contacto.ContactoEnte">
          <label><strong>{{contacto.TipoContacto.Nombre}}: </strong></label>
          {{contacto.Valor}}
        </li>
        <li *ngIf="info_informacion_contacto.UbicacionEnte">
          <label><strong>{{"GLOBAL.lugar_residencia" | translate}}:
            </strong>{{info_informacion_contacto.UbicacionEnte.Lugar.PAIS.Nombre}} /
            {{info_informacion_contacto.UbicacionEnte.Lugar.DEPARTAMENTO.Nombre}} /
            {{info_informacion_contacto.UbicacionEnte.Lugar.CIUDAD.Nombre}} </label><br>
          <label *ngIf="info_informacion_contacto.UbicacionEnte.Lugar.LOCALIDAD">
            <strong>{{"GLOBAL.localidad_residencia" | translate}}:
            </strong>{{info_informacion_contacto.UbicacionEnte.Lugar.LOCALIDAD.Nombre}} </label>
          <ul *ngIf="info_informacion_contacto.UbicacionEnte.Atributos; else elseTemplate">
            <li *ngFor="let lugar of info_informacion_contacto.UbicacionEnte.Atributos">
              <label><strong>{{lugar.AtributoUbicacion.Nombre}}: </strong></label>
              {{lugar.Valor}}
            </li>
          </ul>
          <ng-template #elseTemplate>
            NA
          </ng-template>
        </li>
      </ul> -->
      <span *ngIf="url_editar" (click)="editar()" class="link"><i
          class="ion-edit"></i>{{"GLOBAL.actualizar" | translate}}</span>
    </div>
  </mat-card-content>
</mat-card>
