<toaster-container [toasterconfig]="config"></toaster-container>
<!-- <ngx-dinamicform [normalform]="formInfoPersona" [modeloData]="info_info_persona"
  (result)="validarForm($event)" [clean]="clean"
  (percentage)="setPercentage($event)">
</ngx-dinamicform> -->
<form >
    <ng-template matStepLabel>{{ 'proyecto.enfasis' | translate }}</ng-template>
    <div class="col-sm-12">
  
            <nb-card class="m-4" accent="info">
                <nb-card-body>
                    <mat-form-field center>
                        <mat-label>{{ 'proyecto.enfasis_proyecto' | translate }}</mat-label>
                        <!--mat-select [formControl]="Campo2Control" required [(ngModel)]="opcionSeleccionadoEnfasis"-->
                        <mat-select [formControl]="Campo2Control" (selectionChange)="onCreateEmphasys($event)">
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let enfasisproyecto of enfasis" [value]="enfasisproyecto">
                                {{enfasisproyecto['Nombre']}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="Campo2Control.hasError('required')">{{ 'proyecto.erro_selec_enfasis' | translate }}</mat-error>
                    </mat-form-field>
                    <div class="row">
                        <div class="col-12">
                            <ng2-smart-table [settings]="settings_emphasys" [(source)]="source_emphasys" (delete)="onDeleteEmphasys($event)" (create)="onCreateEmphasys($event)">
                            </ng2-smart-table>
                        </div>
                    </div>
                </nb-card-body>
                <button mat-button  type="submit"  nbButton status="success">{{ 'enfasis.administrar_enfasis' | translate }}</button>
            </nb-card>
        </div>
    <div>
    </div>
  </form>
<!--ngx-loading [hidden]="!loading"></ngx-loading-->
