<div class="row">
  <div class="col">
    <mat-card>
      <fieldset [ngClass]="{'fieldseter':true} ">
        <legend>
          {{ 'derechos_pecuniarios.titulo' | translate }}
        </legend>
        <mat-card-content>
          <div class="row">
            <div class="col-12 col-md-4">
              <mat-form-field style="width: 100%;">
                <mat-select placeholder="{{ 'derechos_pecuniarios.vigencia' | translate }}" (selectionChange)="cargarDatos($event)" >
                  <mat-option *ngFor="let vigencia of vigencias" [value]="vigencia.Id">{{ vigencia.Nombre }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-title>{{ 'derechos_pecuniarios.conceptos' | translate }}</mat-card-title>
        <mat-card-content>
          <ng2-smart-table [settings]="tablaConceptos" [source]="datosConceptos" ></ng2-smart-table>
        </mat-card-content>
      </fieldset>
    </mat-card>
  </div>
</div>
