<nb-card  [nbSpinner]="loading || loadingGlobal" nbSpinnerStatus="success" nbSpinnerSize="xxlarge"
nbSpinnerMessage="{{ 'GLOBAL.cargando' | translate }}">
  <nb-card-body>
    <div class=col-12>
      <fieldset [ngClass]="{'fieldseter':true}" >
        <legend>
          &nbsp; {{ 'documento_proyecto.titulo' | translate }}
        </legend>

        <div>
          <nb-card >
              <nb-card-header>
                <!-- select periodo -->
                <mat-form-field style="width: 35%;">
                  <mat-label>{{ 'documento_proyecto.aviso_periodo' | translate }}:</mat-label>
                  <mat-select [(ngModel)]="periodo" [disabled]='false'>
                    <mat-option *ngFor="let item of periodos" [value]="item"> {{item.Nombre}} </mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- select Nivel -->
                <mat-form-field style="width: 100%;">
                  <mat-label>{{ 'documento_proyecto.aviso_nivel' | translate }}:</mat-label>
                  <mat-select [formControl]="CampoControl"
                              [(ngModel)]="selectednivel"
                              (selectionChange)="loadProyectos()" >
                    <mat-option *ngFor="let item of nivel_load" [value]="item.Id"> {{item.Nombre}} </mat-option>
                  </mat-select>
                  <mat-error *ngIf="CampoControl.hasError('required')">{{ 'documento_proyecto.erro_selec_nivel' | translate }}</mat-error>
                </mat-form-field>

                <!-- select proyectos -->
                <mat-form-field style="width: 100%;">
                  <mat-label>{{ 'documento_proyecto.aviso_proyecto' | translate }}:</mat-label>
                  <mat-select [formControl]="Campo1Control"
                              [(ngModel)]="proyectos_selected"
                              (selectionChange)="loadTipoInscripcion()">
                              <!-- (selectionChange)="loadCriterios()" -->
                    <mat-option *ngFor="let item of proyectos" [value]="item.Id">{{item.Nombre}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="Campo1Control.hasError('required')">
                    {{ 'documento_proyecto.erro_selec_proyecto' | translate }}
                  </mat-error>
                </mat-form-field>

                <!-- select tipo_inscripcion -->
                <mat-form-field style="width: 100%;">
                  <mat-label>{{ 'documento_proyecto.aviso_tipo_inscripcion' | translate }}:</mat-label>
                  <mat-select [formControl]="Campo2Control"
                              [(ngModel)]="tipo_inscripcion_selected"
                              (selectionChange)="savePrograma()">
                    <mat-option *ngFor="let item of tipos_inscripcion" [value]="item.Id">{{item.Nombre}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="Campo2Control.hasError('required')">
                    {{ 'documento_proyecto.error_selec_tipo_inscripcion' | translate }}
                  </mat-error>
                </mat-form-field>

                <!-- Tag de criterios -->
                <div class="row" *ngIf="tipo_inscripcion_selected" style="justify-content: space-around;">

                  <div class="col-sm-6 col-md-4 col-lg-3" align="center" id="info_basica">

                    <nb-card class="exp-card"
                             (click)="openSelectDocumentoProyectoComponent()">
                      <nb-card-header>{{ 'documento_proyecto.documentos' | translate }}</nb-card-header>
                      <nb-card-body class="icon-form">
                        <i class="fa fa-folder fa-5x"></i>
                      </nb-card-body>
                    </nb-card>
                  </div>


                  <div class="col-sm-6 col-md-4 col-lg-3" align="center" id="info_basica" *ngIsGranted="['VICERRECTOR', 'ASESOR_VICE']" >
                    <nb-card class="exp-card"
                             (click)="openSelectDescuentoProyectoComponent()">
                      <nb-card-header>{{ 'documento_proyecto.descuentos' | translate }}</nb-card-header>
                      <nb-card-body class="icon-form">
                        <i class="fa fa-folder fa-5x"></i>
                      </nb-card-body>
                    </nb-card>
                  </div>

                </div>

              </nb-card-header>

          </nb-card>
        </div>

      </fieldset>
    </div>
  </nb-card-body>
</nb-card>
