<toaster-container [toasterconfig]="config"></toaster-container>
<div class="col-md-12 col-lg-12 ">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <nb-card accent="info" align="center" size=4>
        <nb-card-header>{{ 'historial_registro.titulo' | translate }}</nb-card-header>
        <nb-card>
            <nb-card-body>
                {{ 'historial_registro.explicacacion' | translate }}
            </nb-card-body>
        </nb-card>
        <nb-card>
            <nb-card-body>

                <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                    <ng-container matColumnDef="Id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'consultaproyecto.id' | translate }}</mat-header-cell>
                        <mat-cell *matCellDef="let row; let i = index" class="text-capitalize"> {{row.Id}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Registro">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'historial_registro.registro' | translate }}</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.NumeroActoAdministrativo }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Vigencia">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'historial_registro.vigencia' | translate }} </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.AnoActoAdministrativoId}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Tipo de registro">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'historial_registro.tipo_registro' | translate }} </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.TipoRegistroId.Nombre }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Documento">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'historial_registro.documento' | translate }} </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <button mat-button>
                                        <mat-icon>visibility</mat-icon>
                                    </button>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Tiempo de vigencia">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'historial_registro.tiempo' | translate }} </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.VigenciaActoAdministrativo }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Activo">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'historial_registro.activo' | translate }} </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.ActivoLetra }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Fecha Inicio Registro">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'historial_registro.fecha_inicio' | translate }} </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.FechaCreacionActoAdministrativo | date:'dd/MM/yyyy' }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Fecha Vencimiento Registro">
                        <mat-header-cell *matHeaderCellDef> {{ 'historial_registro.fecha_vencimiento' | translate }} </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.VencimientoActoAdministrativo | date:'dd/MM/yyyy' }}
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="highlight(row,$event)"></mat-row>
                </mat-table>


            </nb-card-body>
        </nb-card>
    </nb-card>

</div>