:host /deep/ .nb-theme-default ng2-smart-table table tr td {
    font-size: 0.85rem;
}

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-column-Id {
    flex: 0 0 50px;
    justify-content:center;
}

.mat-column-Registro {
    flex: 0 0 130px;
    justify-content:center;
}

.mat-column-Vigencia {
    flex: 0 0 130px;
    justify-content:center;
}

.mat-column-Tipo-de-registro {
    flex: 0 0 180px;
    justify-content:center;
}

.mat-column-Documento {
    flex: 0 0 100px;
    justify-content:center;
}

.mat-column-Tiempo-de-vigencia {
    flex: 0 0 150px;
    justify-content:center;
}

.mat-column-Activo {
    flex: 0 0 100px;
    justify-content:center;
}

.mat-column-Fecha-Inicio-Registro {
    flex: 0 0 110px;
    justify-content:center;
}

.mat-column-Fecha-Vencimiento-Registro {
    flex: 0 0 110px;
    justify-content:center;
}

.mat-table {
    overflow: auto;
}

.mat-row:nth-child(even) {
    background-color: rgb(255, 255, 255);
}

.mat-row:nth-child(odd) {
    background-color: rgb(255, 255, 255);
}

.columna {
    width: 33%;
    float: left;
}

@media (max-width: 500px) {
    .columna {
        width: auto;
        float: none;
    }
}

.mat-button, .mat-raised-button {
    background-color:rgb(0, 162, 255);
    color: #fff;
  }

.mat-success {
    background-color: green;
    color: #fff;
}

.mat-success-1 {
    background-color: rgb(196, 199, 16);
    color: #fff;
}

.capitalize {
    text-transform: capitalize;
}

.encabezado {
    background-color: rgb(220, 221, 238);
}

:host ::ng-deep ng2-st-tbody-edit-delete {
  display: flex !important;
  height: 0 !important;
}

:host ::ng-deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom {
  display: inline-block;
  text-align: center;
  font-size: 1.1em;
}

:host ::ng-deep ng2-st-tbody-custom {
  display: flex;
  justify-content: space-around;
}

:host ::ng-deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom:hover {
  color: #5dcfe3;
  i.nb-trash:hover {
      color: #b5261b;
  }
}

:host ::ng-deep .nb-theme-default ng2-smart-table table tr td {
font-size: 0.95rem;
}

:host ::ng-deep .nb-theme-default ng2-smart-table table th {
padding-right: 0.725rem
}
