body {
  margin: 0;
  padding: 0;
  background-color: #000;
  opacity: 0.5;
}

ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
}

ul li {
  list-style: none;
  width: 1.7rem;
  height: 1.7rem;
  background: var(--primary);
  margin: 0 1rem;
  border-radius: 50%;
  animation: animate 0.6s linear infinite;
}
@keyframes animate {
  0% {
    transform: translateY(0);
  }

  60% {
    transform: translateY(0);
  }

  80% {
    transform: translateY(-2.5rem);
  }

  100% {
    transform: translateY(0);
  }
}

ul li:nth-child(1) {
  animation-delay: 0s;
}

ul li:nth-child(2) {
  animation-delay: 0.1s;
}

ul li:nth-child(3) {
  animation-delay: 0.2s;
}

ul li:nth-child(4) {
  animation-delay: 0.3s;
}

ul li:nth-child(5) {
  animation-delay: 0.4s;
}

.overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(74, 74, 74, 0.5);
  z-index: 99999;
}
