<nb-card [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="xxlarge"
    nbSpinnerMessage="{{ 'GLOBAL.cargando' | translate }}">
    <div *ngIf="!denied_acces">
        <toaster-container [toasterconfig]="config"></toaster-container>
        <ngx-dinamicform [normalform]="formInfoCaracteristica" [modeloData]="info_info_caracteristica"
            (result)="validarForm($event)" [clean]="clean" (interlaced)="getSeleccion($event)"
            (percentage)="setPercentage($event)">
        </ngx-dinamicform>
        <div class="preinscription-alert" *ngIf="mensaje_discapcidades && !mensaje_poblacion_discapcidades">
            {{ 'inscripcion.alerta_discapacidades' | translate }}
        </div>
        <div class="preinscription-alert" *ngIf="mensaje_poblacion && !mensaje_poblacion_discapcidades">
            {{ 'inscripcion.alerta_poblacion' | translate }}
        </div>
        <div class="preinscription-alert" *ngIf="mensaje_poblacion_discapcidades">
            {{ 'inscripcion.alerta_poblacion_discapacidades' | translate }}
        </div>
    </div>
</nb-card>