<div class="col-md-12 col-lg-12 col-xl-12">
  <nb-card>
    <nb-card-body>
      <nb-tabset fullWidth (changeTab)="selectTab($event)">
        <nb-tab tabTitle="{{ 'GLOBAL.lista' | translate }}" [active]="!cambiotab && !cambiotab2" style="overflow: hidden;">
          <br />
          <div class="container-fluid">
            <div>
              <div class="row">
                <div class="col">
                  <button (click)="crearInscripcion()" class="btn btn-info btn-sm">{{ 'GLOBAL.nueva_inscripcion' | translate }}</button>
                </div>
              </div>
            </div>
          </div>
          <br />
          <ng2-smart-table [settings]="settings" [source]="source" (rowSelect)="itemselec($event)" (delete)="onDelete($event)" (edit)="onEdit($event)" (create)="onCreate($event)">
          </ng2-smart-table>
        </nb-tab>
        <nb-tab tabTitle="{{ 'GLOBAL.formulario' | translate }}" [active]="cambiotab" *ngIf="uid !== undefined && uid.toString() !== '' && !cambiotab2">
          <ngx-posgrado [inscripcion_id]="uid" (eventChange)="onChange($event)"></ngx-posgrado>
          <button (click)="activetab()" class="btn btn-info btn-sm"><i class="nb-arrow-dropleft"></i> {{ 'GLOBAL.regresar' | translate }}</button>
        </nb-tab>
        <nb-tab tabTitle="{{ 'GLOBAL.formulario2' | translate }}" [active]="cambiotab2" *ngIf="uid2 !== undefined && uid2.toString() !== '' && !cambiotab">
          <ngx-pago-inscripcion [inscripcion_id]="uid2"></ngx-pago-inscripcion>
          <button (click)="activetab2()" class="btn btn-info btn-sm"><i class="nb-arrow-dropleft"></i> {{ 'GLOBAL.regresar' | translate }}</button>
        </nb-tab>
      </nb-tabset>
    </nb-card-body>
  </nb-card>
</div>
