<toaster-container [toasterconfig]="config"></toaster-container>

<div class="row">
  <div class="col-5" *ngIf="perfil_id">
    <nb-card [size]="'medium'">
      <nb-card-header>
        {{ 'MENU.menu.rol' | translate }} {{ info_perfil.Nombre}}
      </nb-card-header>
      <nb-card-body>
        <div>
          <tree-root #treeRol id="tree1" class="reverse" [nodes]="nodesRol" [options]="optionsRol" [focused]="true">
            <ng-template #treeNodeFullTemplate let-node let-index="index" let-templates="templates">
              <div class="tree-node">
                <input type="checkbox" [checked]="node.isActive" (change)="node.toggleActivated(true)" />
                <tree-node-expander [node]="node"></tree-node-expander>
                <div class="node-content-wrapper" [class.node-content-wrapper-active]="node.isActive"
                  [class.node-content-wrapper-focused]="node.isFocused" (click)="node.toggleActivated(true); node.expandAll()">
                  <span [class]="node.data.className" [class.title]="true">{{ node.data.Nombre }}</span>
                </div>
                <tree-node-children [node]="node" [templates]="templates"></tree-node-children>
              </div>
            </ng-template>
          </tree-root>

        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-2 my-auto">
    <button (click)="vincular()" class="btn btn-info btn-block btn-sm"> <i class="nb-arrow-dropleft"></i>
      Vincular</button>
    <button (click)="desvincular()" class="btn btn-info btn-block btn-sm">
      Desvincular<i class="nb-arrow-dropright"></i></button>
  </div>
  <div class="col-5" *ngIf="perfil_id">
    <nb-card [size]="'medium'">
      <nb-card-header>
        {{ 'MENU.menu.menu' | translate }} {{ info_perfil.Aplicacion.Nombre}}
      </nb-card-header>
      <nb-card-body>
        <div>
          <tree-root #treeMenu id="tree2" class="reverse" [nodes]="nodesMenu" [options]="optionsMenu" [focused]="true">
            <ng-template #treeNodeFullTemplate let-node let-index="index" let-templates="templates">
              <div class="tree-node">
                <input type="checkbox" [checked]="node.isActive" (change)="node.toggleActivated(true); node.expandAll()" />
                <tree-node-expander [node]="node"></tree-node-expander>
                <div class="node-content-wrapper" [class.node-content-wrapper-active]="node.isActive"
                  [class.node-content-wrapper-focused]="node.isFocused" (click)="node.toggleActivated(true)">
                  <span [class]="node.data.className" [class.title]="true">{{ node.data.Nombre }}</span>
                </div>
                <tree-node-children [node]="node" [templates]="templates"></tree-node-children>
              </div>
            </ng-template>
          </tree-root>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
