@import '../../../@theme/styles/themes';
@include nb-install-component() {
  /deep/ .mat-input-element::placeholder {
    color: transparentize($color: nb-theme(color-fg-heading), $amount: 0.6);
  }

  /deep/ .mat-input-placeholder {
    color: nb-theme(color-fg-text);
  }

  /deep/ .mat-select-value {
    color: nb-theme(color-fg-text);
  }
  
  .mat-button, .mat-raised-button {
    background-color:rgb(0, 162, 255);
    color: #fff;
  }


  /deep/ .mat-select-placeholder {
    color: transparentize($color: nb-theme(color-fg-text), $amount: 0.6);
  }

  /deep/ .mat-form-field-underline {
    background-color: nb-theme(form-control-border-color);
  }
  

  ::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: rgb(0, 153, 255);
  }

  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
  .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate,
  .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
    background-color: rgb(0, 119, 255) !important; /* Red background for example */
  }

  legend {
    padding: 10px;
  }

  .dinamic-form {
    background-color: nb-theme(color-bg);
    color: nb-theme(card-fg-heading);
    padding: 1rem;
  }
 

  nb-card {
    padding: 1rem;
  }

  .fieldseter {
    display: flow-root;
    -moz-padding-start: 1rem;
    -moz-padding-end: 1rem;
    -moz-padding-after: 1rem;

    -webkit-margin-start: 1rem;
    -webkit-margin-end: 1rem;
    -webkit-padding-before: 1rem;
    -webkit-padding-start: 1rem;
    -webkit-padding-end: 1rem;
    -webkit-padding-after: 1rem;

    min-width: -moz-min-content;
    border-width: 2px;
    border-radius: 0.4rem;
    border-style: groove;
    border-color: nb-theme(color-success);
    @include nb-for-theme(cosmic) {
      border-color: nb-theme(color-primary);
    }
  }

  img {
    cursor: pointer;
  }

  ngb-rating {
    outline: none;
  }

}
