<nb-card>
    <nb-card-body>
        <div class="col-md-12">
            <table class="table-responsive">
                <thead>
                    <tr>
                        <th colspan="4">{{ 'inscripcion.documento_programa' | translate}}</th>
                    </tr>
                    <tr class="subheader">
                        <th>{{ 'GLOBAL.soporte_documento' | translate }}</th>
                        <th>{{ 'GLOBAL.estado' | translate }} </th>
                        <th>{{ 'admision.observacion' | translate }} </th>
                        <th>{{ 'solicitudes.soporte' | translate }} </th>
                    </tr>
                </thead>
                <tbody *ngIf="info_documento_programa">
                    <tr *ngFor="let documento of info_documento_programa">
                        <td> {{documento.DocumentoProgramaId.TipoDocumentoProgramaId.Nombre}} </td>
                        <td> {{documento.estadoObservacion}} </td>
                        <td> {{documento.observacion}} </td>
                        <td *ngIf="documento.DocumentoId !== undefined">
                          <a [href]=documento.Documento
                             download="{{documento.DocumentoProgramaId.TipoDocumentoProgramaId.Nombre}}.pdf">
                             <i class="nb-search" title={{variable}}></i>
                          </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <span *ngIf="url_editar" (click)="editar()" class="link">
        <i class="ion-edit"></i>{{ 'GLOBAL.actualizar' | translate}}</span>
        </div>
    </nb-card-body>
</nb-card>
