<div class="col-md-12 col-lg-12 ">
    <nb-card>
        <H1 align="center">
            <font size=4>{{ 'oferta.titulo' | translate }} </font>
        </H1>
        <nb-card status="success" class="m-5" size="medium">
            <nb-card-header>{{ 'oferta.subtitulo' | translate }}</nb-card-header>
            <nb-card-body>
                {{ 'oferta.explicacacion' | translate }}z
                <div class="row">
                    <div class="col-sm-6">
                        <nb-card class="m-4">
                            <nb-card-body>
                                <mat-form-field style="width: 70%;">
                                    <mat-label>{{ 'GLOBAL.ano' | translate }} :</mat-label>
                                    <mat-select [(ngModel)]="opcionSeleccionadoAno" (ngModelChange)="capturarAno()">
                                        <mat-option>{{ 'oferta.seleccion_ano' | translate }}</mat-option>
                                        <mat-option *ngFor="let item of ano" [value]="item">
                                            {{ item.Ano }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </nb-card-body>
                        </nb-card>
                    </div>
                    <div class="col-sm-6">
                        <nb-card class="m-4">
                            <nb-card-body>
                                <mat-form-field style="width: 70%;">
                                    <mat-label>{{ 'GLOBAL.periodo' | translate }} :</mat-label>
                                    <mat-select [(ngModel)]="opcionSeleccionadoPeriodo" (ngModelChange)="capturarPeriodo()">
                                        <mat-option>{{ 'oferta.seleccion_periodo' | translate }}</mat-option>
                                        <mat-option *ngFor="let item of periodo" [value]="item">
                                            {{ item.Periodo }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </nb-card-body>
                        </nb-card>
                    </div>
                </div>
            </nb-card-body>
            <nb-card-body class="example-items-rows trans text-center">
                <button (click)="ListarOferta()" type="button" class="btn btn-outline-success btn-sm m-2">{{ 'oferta.buton_consultar' | translate }}</button>

            </nb-card-body>
        </nb-card>
    </nb-card>


    <nb-card>
        <nb-card-body>
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'oferta.filtro' | translate }}">
            </mat-form-field>

            <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                <!--  Columna ID-->
                <ng-container matColumnDef="Proyecto_curricular">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'oferta.proyecto' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let row" class="text-capitalize"> {{row.TipoEventoId.DependenciaId | lowercase }} </mat-cell>
                </ng-container>

                <!-- Columna Apellido -->
                <ng-container matColumnDef="Fecha_inicio">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'oferta.fecha_inicio' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.FechaInicio | date:'dd/MM/yyyy' }} </mat-cell>
                </ng-container>

                <!-- Columna Nombre-->
                <ng-container matColumnDef="Fecha_fin">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'oferta.fecha_finaliza' | translate }} </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.FechaFin | date:'dd/MM/yyyy' }} </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>



        </nb-card-body>
    </nb-card>

</div>