<div class="row">
  <div class="col">
    <mat-card>
      <mat-card-title>{{ 'derechos_pecuniarios.titulo' | translate }}</mat-card-title>
      <mat-card-content>
        <fieldset [ngClass]="{'fieldseter':true} ">
          <legend>
            {{ 'derechos_pecuniarios.agregar_concepto' | translate }}
          </legend>
          <form novalidate [formGroup]="formConcepto" #dpform="ngForm" (ngSubmit)="agregarConcepto()" class="form-horizontal" >
            <div class="row">
              <div class="col-6">
                <mat-form-field style="width: 100%;">
                  <input matInput type="number" formControlName="Codigo" placeholder="{{ 'derechos_pecuniarios.codigo' | translate }}" required>
                  <mat-error *ngIf="formConcepto.get('Codigo').hasError('required') && formConcepto.get('Codigo').touched" >
                    {{ 'derechos_pecuniarios.error_codigo' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field style="width: 100%;">
                  <input matInput type="text" formControlName="Nombre" placeholder="{{ 'GLOBAL.nombre' | translate }}" required>
                  <mat-error *ngIf="formConcepto.get('Nombre').hasError('required') && formConcepto.get('Nombre').touched" >
                    {{ 'derechos_pecuniarios.error_nombre' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-6">
                <mat-form-field style="width: 100%;">
                  <input matInput type="number" formControlName="Factor" placeholder="{{ 'derechos_pecuniarios.factor' | translate }}" required>
                  <mat-error *ngIf="formConcepto.get('Factor').hasError('required') && formConcepto.get('Factor').touched" >
                    {{ 'derechos_pecuniarios.error_factor' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <button type="button" (click)="cerrarDialogo()" class="btn btn-info btn-sm float-left"> <i class="nb-arrow-dropleft"></i> {{ 'GLOBAL.regresar' | translate }}</button>
              </div>
              <div class="col-6">
                <button class="btn btn-success btn-sm float-right" type="submit" [disabled]="formConcepto.invalid">{{ 'GLOBAL.guardar' | translate }} </button>
              </div>
            </div>
          </form>
        </fieldset>
      </mat-card-content>
    </mat-card>
  </div>
</div>
