.login {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}
.logotipo {
    width: 30%;
}
.header-login{
    max-width: 300px;
    width: 30%;
}

.button {
    background: var(--primary);
    border: 0;
    border-radius: 32px;
    box-shadow: 0 3px 6px rgba(#000, 0.2);
    color: var(--color100);
    font-family: inherit;
    font-size: 32px;
    line-height: 1;
    margin: 120px 0 32px;
    padding: 12px 40px;
    cursor: pointer;

    &:active,
    &:focus,
    &:hover {
        // color: var(--primary);
        background: var(--color700);
        outline: 0;
        transition: background 0.2s ease-in-out;
    }
}

.login-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 50;
    background: #FFFFFE;
}

.login-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.credit {
    width: 200px;
    font-size:12px ;
}

.loading-panel {
    display: flex;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 200;
    background: #333;
}

.logo-login {
    width: 35%;
    margin-bottom: 3rem;
}

.footer-login {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 855px) {
    .logotipo {
        width: 60%;
    }
    .header-login{
        width: 40%;
    }
    .login-header {
        justify-content: center;
        text-align: center;
    }

    .footer-login {
        justify-content: center;
        text-align: center
    }

}

@media screen and (max-width: 425px) {
    .logotipo {
        width: 70%;
    }
    .header-login{
        width: 60%;
    }
    .login-header {
        justify-content: center;
    }

    .footer-login {
        justify-content: center;
    }
}

