<div class="col-md-12 col-lg-12 ">
    <nb-card>
        <nb-card accent="info" align="center" size=4>
            <nb-card-header>{{ 'proyecto.titulo' | translate }}</nb-card-header>
            <nb-card>
                <nb-card-body>
                    Este Modulo le permite el registro de un nuevo proyecto académico o crear uno a partir de un proyecto académico que tengan características similares, para poder realizar el registro deberá tener a la mano la evidencia del acto administrativo, por favor
                    ingrese la información solicitada.
                </nb-card-body>
            </nb-card>
            <div class="row">
                <div class="col-sm-6">
                    <nb-card class="m-4" accent="info">
                        <nb-card-header>{{ 'proyecto.basica' | translate }}</nb-card-header>


                    </nb-card>
                </div>
            </div>
        </nb-card>
        <nb-card status="success" class="m-5" size="medium">

            <nb-card-body>

                <div class="row">
                    <div class="col-sm-6">
                        <nb-card class="m-4">
                            <nb-card-body>
                                <mat-form-field style="width: 70%;">
                                    <mat-label>{{ 'GLOBAL.ano' | translate }} :</mat-label>
                                    <mat-select [(ngModel)]="opcionSeleccionadoAno" (ngModelChange)="capturarAno()">
                                        <mat-option> {{ 'periodo.seleccion_ano' | translate }}</mat-option>
                                        <mat-option *ngFor="let item of ano" [value]="item">
                                            {{ item.Ano }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </nb-card-body>
                        </nb-card>
                    </div>
                    <div class="col-sm-6">
                        <nb-card class="m-4">
                        </nb-card>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </nb-card>

</div>