<div class="col-md-12 col-lg-12 ">

    <nb-card accent="info" align="center" size=4>
        <nb-card-header>{{ 'proyecto.titulo' | translate }}</nb-card-header>
        <nb-card>
            <nb-card-body>
                Este Modulo le permite el registro de un nuevo proyecto académico o crear uno a partir de un proyecto académico que tengan características similares, para poder realizar el registro deberá tener a la mano la evidencia del acto administrativo, por favor
                ingrese la información solicitada.
            </nb-card-body>
        </nb-card>
        <div class="row">
            <div class="col-sm-6">
                <nb-card class="m-4" accent="info">
                    <nb-card-header>{{ 'proyecto.basica' | translate }}</nb-card-header>
                    <nb-card-body>
                        <form id="basicForm" [formGroup]="basicform" (ngSubmit)="submit()">
                            <mat-form-field>
                                <input matInput placeholder="{{ 'proyecto.codigo_snies' | translate }}" formControlName="codigo_snies" class="form-control" name="codigo_snies">
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label>{{ 'proyecto.facultad' | translate }}</mat-label>
                                <mat-select [formControl]="facultadControl" required [(ngModel)]="opcionSeleccionadoFacultad">
                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let nombrefacultad of facultad" [value]="nombrefacultad">
                                        {{nombrefacultad['Nombre']}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="facultadControl.hasError('required')">{{ 'proyecto.erro_selec' | translate }}</mat-error>
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <input matInput placeholder="{{ 'proyecto.nombre_proyecto' | translate }}" formControlName="nombre_proyecto" class="form-control" name="nombre_proyecto">
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <input matInput placeholder="{{ 'proyecto.nivel_proyecto' | translate }}" formControlName="nivel_proyecto" class="form-control" name="nivel_proyecto">
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <input matInput placeholder="{{ 'proyecto.metodologia_proyecto' | translate }}" formControlName="metodologia_proyecto" class="form-control" name="metodologia_proyecto">
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <input matInput placeholder="{{ 'proyecto.abreciacion_proyecto' | translate }}" formControlName="abreviacion_proyecto" class="form-control" name="abreviacion_proyecto">
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <input matInput placeholder="{{ 'proyecto.correo_proyecto' | translate }}" formControlName="correo_proyecto" class="form-control" name="correo_proyecto">
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <input matInput placeholder="{{ 'proyecto.numero_proyecto' | translate }}" formControlName="numero_proyecto" class="form-control" name="numero_proyecto">
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <input matInput placeholder="{{ 'proyecto.creditos_proyecto' | translate }}" formControlName="creditos_proyecto" class="form-control" name="creditos_proyecto">
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <input matInput placeholder="{{ 'proyecto.duracion_proyecto' | translate }}" formControlName="duracion_proyecto" class="form-control" name="duracion_proyecto">
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label>{{ 'proyecto.tipo_duracion' | translate }}</mat-label>
                                <mat-select [formControl]="facultadControl" required>
                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let unidadtiempo of unidad" [value]="unidadtiempo">
                                        {{unidadtiempo['Nombre']}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="facultadControl.hasError('required')">{{ 'proyecto.erro_selec' | translate }}</mat-error>
                            </mat-form-field>
                            <br>
                            <mat-checkbox>{{ 'proyecto.ciclo_proyecto' | translate }} </mat-checkbox>&nbsp;&nbsp;
                            <mat-checkbox>{{ 'proyecto.ofrece_proyecto' | translate }}</mat-checkbox>


                        </form>
                        <mat-checkbox [(ngModel)]="checkenfasis">{{ 'proyecto.enfasis_proyecto_selec' | translate }} </mat-checkbox>
                        <strong>{{basicform.value.codigo_snies}} </strong>
                        <br>
                        <strong>{{basicform.value.nombre_proyecto}} </strong>
                        <br>
                        <strong>{{basicform.value.nivel_proyecto}} </strong>
                        <br>
                        <strong>{{basicform.value.metodologia_proyecto}} </strong>
                        <br>
                        <strong>{{basicform.value.abreviacion_proyecto}} </strong>
                        <br>
                        <strong>{{basicform.value.correo_proyecto}} </strong>
                        <br>
                        <strong>{{basicform.value.creditos_proyecto}} </strong>
                        <br>
                        <strong>{{basicform.value.duracion_proyecto}} </strong>

                    </nb-card-body>

                </nb-card>
                <nb-card *ngIf="checkenfasis" class="m-4" accent="info">
                    <nb-card-header>{{ 'proyecto.enfasis' | translate }}</nb-card-header>
                    <nb-card-body>
                        <mat-form-field>
                            <mat-label>{{ 'proyecto.enfasis_proyecto' | translate }}</mat-label>
                            <mat-select [formControl]="facultadControl" required>
                                <mat-option>--</mat-option>
                                <mat-option *ngFor="let facultad of area" [value]="facultad">
                                    {{facultad.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="facultadControl.hasError('required')">{{ 'proyecto.erro_selec' | translate }}</mat-error>
                        </mat-form-field>

                    </nb-card-body>
                </nb-card>
            </div>

            <div class="col-sm-6">
                <div class="row-sm-6">
                    <nb-card class="m-4" accent="info">
                        <nb-card-header>{{ 'proyecto.registro' | translate }}</nb-card-header>
                        <nb-card-body>
                            <form id="resoluForm" [formGroup]="resoluform" (ngSubmit)="submit()">
                                <mat-form-field>
                                    <mat-label>{{ 'proyecto.area' | translate }}</mat-label>
                                    <mat-select [formControl]="facultadControl" required>
                                        <mat-option>--</mat-option>
                                        <mat-option *ngFor="let areacono of area" [value]="areacono">
                                            {{areacono['Nombre']}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="facultadControl.hasError('required')">{{ 'proyecto.erro_selec' | translate }}</mat-error>
                                </mat-form-field>
                                <br>
                                <mat-form-field>
                                    <mat-label>{{ 'proyecto.nucleo' | translate }}</mat-label>
                                    <mat-select [formControl]="facultadControl" required>
                                        <mat-option>--</mat-option>
                                        <mat-option *ngFor="let nucleocomun of nucleo" [value]="nucleocomun">
                                            {{nucleocomun['Nombre']}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="facultadControl.hasError('required')">{{ 'proyecto.erro_selec' | translate }}</mat-error>
                                </mat-form-field>
                                <br>
                                <div class="form-group row">
                                    <mat-form-field>
                                        <input matInput placeholder="{{ 'proyecto.resolucion_proyecto' | translate }}" formControlName="resolucion" class="form-control" name="resolucion_proyecto">
                                    </mat-form-field>
                                    <div class="col">
                                        <mat-form-field>
                                            <input matInput placeholder="{{ 'proyecto.ano_resolucion_proyecto' | translate }}" formControlName="ano_resolucion" class="form-control" name="ano_resolucion_proyecto">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="label col-sm-6 col-form-label">{{ 'proyecto.text_document' | translate }}</label>
                                    <div class="col">
                                        <button nbButton size="tiny">{{ 'proyecto.btn_document' | translate }}</button>
                                    </div>
                                </div>
                                <br>
                                <mat-form-field>
                                    <input matInput [matDatepicker]="picker" placeholder="{{ 'proyecto.fecha_creacion' | translate }}" formControlName="fecha_creacion">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                                <br>
                                <mat-form-field>
                                    <input matInput [matDatepicker]="picker1" placeholder="{{ 'proyecto.fecha_vigencia' | translate }}" formControlName="fecha_vigencia">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                                <br>
                                <div class="form-group row">
                                    <label class="label col-sm-7 col-form-label">{{ 'proyecto.text_vigencia' | translate }}</label>
                                    <div class="col">
                                        <label class="label col-sm-7 col-form-label">09/2020</label>
                                    </div>
                                </div>
                            </form>
                        </nb-card-body>
                    </nb-card>
                </div>
                <div class="row-sm-6">
                    <nb-card class="m-4" accent="info">
                        <nb-card-header>{{ 'proyecto.acto' | translate }}</nb-card-header>
                        <nb-card-body>
                            <form id="actoForm" [formGroup]="actoform" (ngSubmit)="submit()">
                                <div class="form-group row">
                                    <mat-form-field>
                                        <input matInput placeholder="{{ 'proyecto.acto_proyecto' | translate }}" formControlName="acto" class="form-control" name="acto_proyecto">
                                    </mat-form-field>
                                    <div class="col">
                                        <mat-form-field>
                                            <input matInput placeholder="{{ 'proyecto.ano_acto_proyecto' | translate }}" formControlName="ano_acto" class="form-control" name="ano_acto_proyecto">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group row">
                                    <label class="label col-sm-7 col-form-label">{{ 'proyecto.text_document_acto' | translate }}</label>
                                    <div class="col">
                                        <button nbButton size="tiny">{{ 'proyecto.btn_document' | translate }}</button>
                                    </div>
                                </div>
                            </form>
                        </nb-card-body>
                    </nb-card>
                </div>

                <div class="row-sm-6">
                    <nb-card class="m-4" accent="info">
                        <nb-card-header>{{ 'proyecto.complementarios' | translate }}</nb-card-header>
                        <nb-card-body>
                            <form id="compleForm" [formGroup]="compleform" (ngSubmit)="submit()">
                                <mat-form-field>
                                    <input matInput placeholder="{{ 'proyecto.titulacion_snies' | translate }}" formControlName="titulacion_snies" class="form-control" name="titulacion_snies">
                                </mat-form-field>
                                <br>
                                <mat-form-field>
                                    <input matInput placeholder="{{ 'proyecto.titulacion_mujer' | translate }}" formControlName="titulacion_mujer" class="form-control" name="titulacion_mujer">
                                </mat-form-field>
                                <br>
                                <mat-form-field>
                                    <input matInput placeholder="{{ 'proyecto.titulacion_hombre' | translate }}" formControlName="titulacion_hombre" class="form-control" name="titulacion_hombre">
                                </mat-form-field>
                                <br>
                                <mat-form-field>
                                    <textarea rows="4" cols="50" matInput placeholder="{{ 'proyecto.competencias' | translate }}" formControlName="competencias" class="form-control" name="competencias"></textarea>
                                </mat-form-field>
                            </form>
                        </nb-card-body>
                    </nb-card>
                </div>
            </div>

        </div>



        <button (click)="registroproyecto()" type="submit" nbButton status="success">{{ 'proyecto.registro_proyecto' | translate }}</button>



    </nb-card>


</div>