@import '../../@theme/styles/themes';
@include nb-install-component() {
    ::ng-deep .mat-input-element::placeholder {
        color: transparentize($color: nb-theme(color-fg-heading), $amount: 0.6);
    }
    ::ng-deep .mat-input-placeholder {
        color: nb-theme(color-fg-text);
    }
    ::ng-deep .mat-select-value {
        color: nb-theme(color-fg-text);
    }
    ::ng-deep .mat-select-placeholder {
        color: transparentize($color: nb-theme(color-fg-heading), $amount: 0.6);
    }
    ::ng-deep .mat-form-field-underline {
        background-color: nb-theme(form-control-border-color);
    }
    nb-card-body {
        overflow: visible;
    }
    legend {
        padding: 10px;
    }
    nb-card {
        padding: 1rem;
    }
    .fieldseter {
        display: flow-root;
        -moz-padding-start: 1rem;
        -moz-padding-end: 1rem;
        -moz-padding-after: 1rem;
        -webkit-margin-start: 1rem;
        -webkit-margin-end: 1rem;
        -webkit-padding-before: 1rem;
        -webkit-padding-start: 1rem;
        -webkit-padding-end: 1rem;
        -webkit-padding-after: 1rem;
        min-width: -moz-min-content;
        border-width: 2px;
        border-radius: 0.4rem;
        border-style: groove;
        border-color: nb-theme(color-success);
        @include nb-for-theme(cosmic) {
            border-color: nb-theme(color-primary);
        }
    }
}

.mat-button {
    background-color: rgb(0, 162, 255);
    color: #fff;
}

.mat-button:disabled,
.mat-button[disabled] {
    background-color: rgb(0, 123, 194) !important;
    color: #ddd !important;
}

:host ::ng-deep ng2-st-tbody-edit-delete {
    display: flex !important;
    height: 0 !important;
}

:host ::ng-deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom {
    display: inline-block;
    width: 50px;
    text-align: center;
    font-size: 1.1em;
}

:host ::ng-deep ng2-st-tbody-custom {
    display: flex;
    justify-content: space-around;
}

:host ::ng-deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom:hover {
    color: #5dcfe3;
}

:host ::ng-deep .nb-theme-default ng2-smart-table table tr td {
    font-size: 0.95rem;
}