<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <mat-card>
        <mat-card-content>
            <div class="row">
                <div class="col-md-12">
                    <mat-progress-bar mode="determinated" color="primary" [value]="percentage_info" [hidden]="isBarraOculta">
                    </mat-progress-bar>
                </div>
            </div>
            <mat-tab-group fullWidth [selectedIndex]="info_persona">
                <mat-tab label="{{ 'inscripcion.info_persona' | translate }}"
                        >
                    <ngx-crud-info-persona info_persona_id={{this.info_persona_id}}
                                           inscripcion_id={{this.inscripcion_id}}
                                           (eventChange)="perfil_editar('info_preinscripcion')"
                                           (success)="cambioTab()"
                                           (result)="setPercentage_info($event,0)">
                    </ngx-crud-info-persona>
                </mat-tab>
                <mat-tab label="{{ 'inscripcion.preinscripcion' | translate }}">
                    <ngx-crud-inscripcion-multiple info_persona_id={{this.info_persona_id}}
                                                   inscripcion_id={{this.inscripcion_id}}
                                                   (eventChange)="perfil_editar('default')"
                                                   (result)="setPercentage_info(1,1)"
                                                   (ocultarBarra)="ocultarBarra($event)">
                    </ngx-crud-inscripcion-multiple>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>




    <!--Vista de perfil------------------------------------------------------------->

    <!-- <div [hidden]="!show_profile"> -->
    <!--nb-card [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="xxlarge" nbSpinnerMessage="{{ 'GLOBAL.cargando' | translate }}">
        <mat-card-content>
            <div *ngIf="show_profile">
                <ngx-perfil (url_editar)="perfil_editar($event)" info_persona_id="{{info_persona_id}}" inscripcion_id="{{inscripcion_id}}"></ngx-perfil>
            </div>
        </mat-card-content>
    </mat-card>
    <-- </mat-card> -->
</div>
