<nb-card [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="xxlarge" nbSpinnerMessage="{{ 'GLOBAL.cargando' | translate }}">
    <div *ngIf="!denied_acces">
        <toaster-container [toasterconfig]="config"></toaster-container>
        <ngx-dinamicform [normalform]="formInformacionFamiliar" [modeloData]="info_info_familiar" (result)="validarForm($event)" [clean]="clean" (interlaced)="getSeleccion($event)" (percentage)="setPercentage($event)">
        </ngx-dinamicform>
    </div>
</nb-card>