table {
    thead {
        td {
            text-align: center;
            font-size: 10px;
            width: auto;
        }
        
    }
    tbody {
        td {
            text-align: right;
            font-size: 10px;
            width: fit-content;
        }
    }
}