<ng-container *ngIf="forTitle">
    <table>
        <thead>
            <tr>
                <ng-container *ngFor="let values of ObjectData">
                    <ng-container *ngIf="values.needPercent; then hasPercentH else noPercentH"></ng-container>
                    <ng-template #hasPercentH>
                        <td style="padding-left: 5px;padding-right: 5px;">
                            {{values.N}}
                            <br>
                            {{values.Perc}}%
                        </td>
                    </ng-template>
                    <ng-template #noPercentH>
                        <td style="padding-left: 5px;padding-right: 5px;">
                            {{values.N}}
                        </td>
                    </ng-template>
                </ng-container>
            </tr>
        </thead>
    </table>
</ng-container>

<ng-container *ngIf="!needEdit && !forTitle">
    <table>
        <thead>
            <tr>
                <ng-container *ngFor="let values of ObjectData">
                    <ng-container *ngIf="values.needPercent; then hasPercentH else noPercentH"></ng-container>
                    <ng-template #hasPercentH>
                        <td colspan="2" style="padding-left: 5px;padding-right: 5px;">
                            {{values.N}}
                        </td>
                    </ng-template>
                    <ng-template #noPercentH>
                        <td style="padding-left: 5px;padding-right: 5px;">
                            {{values.N}}
                        </td>
                    </ng-template>
                </ng-container>
            </tr>
        </thead>
        <tbody>
            <tr>
                <ng-container *ngFor="let values of ObjectData">
                    <ng-container *ngIf="values.needPercent; then hasPercentB else noPercentB"></ng-container>
                    <ng-template #hasPercentB>
                        <td style="padding-left: 5px;padding-right: 5px;">
                            {{values.Perc}}%
                        </td>
                        <td title="Nota: {{values.N}}" style="padding-left: 5px;padding-right: 5px;">
                            {{values.Value}}
                        </td>
                    </ng-template>
                    <ng-template #noPercentB>
                        <td title="{{values.N}}" style="padding-left: 5px;padding-right: 5px;">
                            {{values.Value}}
                        </td>
                    </ng-template>
                </ng-container>
            </tr>
        </tbody>
    </table>
</ng-container>

<ng-container *ngIf="needEdit && !forTitle">
    <form [formGroup]="form">
    <table>
        <tbody>
            <tr>
                <ng-container *ngFor="let values of ObjectData">
                    <td title="Nota: {{values.N}}">
                        <mat-form-field>
                            <input matInput [formControlName]="values.N" type="number" step="0.01" min="0" max="5"  [readonly]="!canEdit"> <!-- [value]="values.Value" -->
                        </mat-form-field>
                    </td>
                </ng-container>
            </tr>
        </tbody>
    </table>
</form>
</ng-container>