<table>
    <thead>
        <tr>
           <ng-container *ngFor="let values of ObjectData">
               <ng-container *ngIf="values.needPercent; then hasPercentH else noPercentH"></ng-container>
               <ng-template #hasPercentH>
                   <td colspan="2" style="padding-left: 5px;padding-right: 5px;">
                       {{values.N}}
                   </td>
               </ng-template>
               <ng-template #noPercentH>
                   <td style="padding-left: 5px;padding-right: 5px;">
                       {{values.N}}
                   </td>
               </ng-template>
           </ng-container>
       </tr>
    </thead>
    <tbody>
       <tr>
           <ng-container *ngFor="let values of ObjectData">
               <ng-container *ngIf="values.needPercent; then hasPercentB else noPercentB"></ng-container>
               <ng-template #hasPercentB>
                   <td style="padding-left: 5px;padding-right: 5px;">
                       {{values.Perc}}%
                    </td>
                   <td title="Nota: {{values.N}}" style="padding-left: 5px;padding-right: 5px;">
                       {{values.Value}}
                    </td>
               </ng-template>
               <ng-template #noPercentB>
                   <td title="{{values.N}}" style="padding-left: 5px;padding-right: 5px;">
                       {{values.Value}}
                    </td>
               </ng-template>
           </ng-container>
       </tr>
   </tbody>
</table>