<ng-container *ngIf="forTitle">
    <table>
        <thead>
            <tr>
                <ng-container *ngFor="let f of fields">
                    <ng-container *ngIf="f.needPercent; then hasPercentH else noPercentH"></ng-container>
                    <ng-template #hasPercentH>
                        <td style="padding-left: 5px;padding-right: 5px;">
                            {{f.name}}
                            <br>
                            {{f.perc}}%
                        </td>
                    </ng-template>
                    <ng-template #noPercentH>
                        <td style="padding-left: 5px;padding-right: 5px;">
                            {{f.name}}
                        </td>
                    </ng-template>
                </ng-container>
            </tr>
        </thead>
    </table>
</ng-container>

<ng-container *ngIf="!needEdit && !forTitle && !forClose">
    <table>
        <thead>
            <tr>
                <ng-container *ngFor="let f of fields">
                    <ng-container *ngIf="f.needPercent; then hasPercentH else noPercentH"></ng-container>
                    <ng-template #hasPercentH>
                        <ng-container *ngIf="f.perc > 0">
                            <td colspan="2" style="padding-left: 5px;padding-right: 5px;">
                                {{f.name}}
                            </td>
                        </ng-container>
                    </ng-template>
                    <ng-template #noPercentH>
                        <td style="padding-left: 5px;padding-right: 5px;">
                            {{f.name}}
                        </td>
                    </ng-template>
                </ng-container>
            </tr>
        </thead>
        <tbody>
            <tr>
                <ng-container *ngFor="let f of fields">
                    <ng-container *ngIf="f.needPercent; then hasPercentB else noPercentB"></ng-container>
                    <ng-template #hasPercentB>
                        <ng-container *ngIf="f.perc > 0">
                            <td style="padding-left: 5px;padding-right: 5px;">
                                {{f.perc}}%
                            </td>
                            <td title="Nota: {{f.name_alt ? f.name_alt : f.name}}" style="padding-left: 5px;padding-right: 5px;">
                                {{f.value}}
                            </td>
                        </ng-container>
                    </ng-template>
                    <ng-template #noPercentB>
                        <td title="{{f.name_alt ? f.name_alt : f.name}}" style="padding-left: 5px;padding-right: 5px;">
                            {{f.value}}
                        </td>
                    </ng-template>
                </ng-container>
            </tr>
        </tbody>
    </table>
</ng-container>

<ng-container *ngIf="needEdit && !forTitle">
    <form [formGroup]="form">
    <table>
        <tbody>
            <tr>
                <ng-container *ngFor="let f of fields">
                    <td title="Nota: {{f.name}}" [ngStyle]="{'background-color': (!canEdit && (f.forceEdit ? !f.forceEdit : true)) ? 'white' : 'lightcyan'}">
                        <mat-form-field>

                            <ng-container *ngIf='f.name != "Fallas" && f.name != "ACU" && f.name != "OBS"'>
                                <input matInput [formControlName]="f.name" type="number" step="0.01" min="0" max="5" value="{{f.value}}"  [readonly]="!canEdit && (f.forceEdit ? !f.forceEdit : true)"> <!-- [value]="values.Value" -->
                            </ng-container>
                            
                            <ng-container *ngIf='f.name == "Fallas"'>
                                <input matInput [formControlName]="f.name" type="number" step="1" min="0" max="100" value="{{f.value}}">
                            </ng-container>
                            <ng-container *ngIf='f.name == "ACU"'>
                                <input matInput [formControlName]="f.name" type="number" step="0.01" min="0" max="5" value="{{f.value}}" readonly>
                            </ng-container>
                            <ng-container *ngIf='f.name == "OBS"'>
                                <mat-select [formControlName]="f.name">
                                    <mat-option *ngFor="let Obs of Observaciones" [value]="Obs.Id">
                                      <div title="{{Obs.Nombre}}">{{Obs.CodigoAbreviacion}}</div>
                                    </mat-option>
                                  </mat-select>
                            </ng-container>

                        </mat-form-field>
                    </td>
                </ng-container>
            </tr>
        </tbody>
    </table>
    <div *ngIf="form.invalid" align="center" style="color: red;">Valores Incorrectos</div>
</form>
</ng-container>

<ng-container *ngIf="forClose">
    <form [formGroup]="form">
        <table>
            <thead>
                <tr>
                    <td>
                        <ng-container *ngFor="let f of fields">
                            <mat-checkbox color="primary" [formControlName]="f.name" [disabled]="!canEdit">
                                <strong>Cerrar</strong>
                            </mat-checkbox>
                        </ng-container>
                    </td>
                </tr>
            </thead>
        </table>
    </form>
</ng-container>