<mat-card>
    <mat-card-content>
        <ngx-crud-documento-programa [documento_programa_id]="uid"
                                     [inscripcion_id]="inscripcion"
                                     [persona_id]="persona"
                                     [soporte_id]="soporteId"
                                     (eventChange)="onChange($event)"
                                     (result)="getPercentage($event)">
        </ngx-crud-documento-programa>
        <ng2-smart-table [settings]="settings"
                         [source]="source"
                         (custom)="onAction($event)">
        </ng2-smart-table>
    </mat-card-content>
</mat-card>
