<div class="row">
    <div class="col">
        <mat-card [nbSpinner]="loading"
                  nbSpinnerStatus="success"
                  nbSpinnerSize="xxlarge"
                  nbSpinnerMessage="{{ 'GLOBAL.cargando' | translate }}">

            <fieldset [ngClass]="{'fieldseter' : true }">
                <legend>
                    {{ 'calendario.calendarios_academicos' | translate }}
                </legend>

                <nb-tabset fullWidth (changeTab)="changeTab($event)">
                    <nb-tab tabTitle="{{ 'GLOBAL.lista' | translate }}" [active]="!activetab">
                        <br />
                        <ng2-smart-table [settings]="settings"
                                         [source]="dataSource"
                                         (create)="onCreate($event)"
                                         (custom)="onAction($event)">
                        </ng2-smart-table>
                        
                    </nb-tab>
                    <nb-tab tabTitle="{{ 'GLOBAL.formulario' | translate }}" [active]="activetab">
                        <br />
                        <ngx-def-calendario-academico [calendarForEditId]="calendarForEditId"
                                                      [calendarForNew]=calendarForNew
                                                      (calendarCloneOut)="recargarDespuesClon($event)"
                                                      (newCalendar)="ngOnInit()">
                        </ngx-def-calendario-academico>

                        <br />
                        <button (click)="activateTab()" class="btn btn-info btn-sm">
                            <i class="nb-arrow-dropleft"></i> {{ 'GLOBAL.regresar' | translate }}
                        </button>
                    </nb-tab>
                </nb-tabset>
            </fieldset>
        </mat-card>
    </div>
</div>
