<nb-card>
    <nb-card-header>
        <div class="row" align="center">
            <div class="col">
                {{ 'notas.definicion_cortes' | translate }}
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <fieldset [ngClass]="{'fieldseter':true} ">
            <legend> {{ 'notas.definicion_fechas' | translate }} </legend>

            <div class="row">
                <div class="col">
                    <strong>{{ 'notas.corte1' | translate }}:</strong>
                </div>
            </div>
            <div class="row d-flex align-items-center">
                <div class="col-md-2  d-flex justify-content-center">
                    <strong>{{ 'notas.desde' | translate }}:</strong>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>{{ 'notas.elije_fecha_inicio' | translate }}:</mat-label>
                        <input matInput [matDatepicker]="Corte1_i">
                        <mat-datepicker-toggle matSuffix [for]="Corte1_i"></mat-datepicker-toggle>
                        <mat-datepicker #Corte1_i></mat-datepicker>
                      </mat-form-field>              
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                    <strong>{{ 'notas.hasta' | translate }}:</strong>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>{{ 'notas.elije_fecha_fin' | translate }}:</mat-label>
                        <input matInput [matDatepicker]="Corte1_f">
                        <mat-datepicker-toggle matSuffix [for]="Corte1_f"></mat-datepicker-toggle>
                        <mat-datepicker #Corte1_f></mat-datepicker>
                      </mat-form-field>              
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <strong>{{ 'notas.corte2' | translate }}:</strong>
                </div>
            </div>
            <div class="row d-flex align-items-center">
                <div class="col-md-2 d-flex justify-content-center">
                    <strong>{{ 'notas.desde' | translate }}:</strong>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>{{ 'notas.elije_fecha_inicio' | translate }}:</mat-label>
                        <input matInput [matDatepicker]="Corte2_i">
                        <mat-datepicker-toggle matSuffix [for]="Corte2_i"></mat-datepicker-toggle>
                        <mat-datepicker #Corte2_i></mat-datepicker>
                      </mat-form-field>              
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                    <strong>{{ 'notas.hasta' | translate }}:</strong>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>{{ 'notas.elije_fecha_fin' | translate }}:</mat-label>
                        <input matInput [matDatepicker]="Corte2_f">
                        <mat-datepicker-toggle matSuffix [for]="Corte2_f"></mat-datepicker-toggle>
                        <mat-datepicker #Corte2_f></mat-datepicker>
                      </mat-form-field>              
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <strong>{{ 'notas.examen_final' | translate }}:</strong>
                </div>
            </div>
            <div class="row d-flex align-items-center">
                <div class="col-md-2 d-flex justify-content-center">
                    <strong>{{ 'notas.desde' | translate }}:</strong>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>{{ 'notas.elije_fecha_inicio' | translate }}:</mat-label>
                        <input matInput [matDatepicker]="Exam_i">
                        <mat-datepicker-toggle matSuffix [for]="Exam_i"></mat-datepicker-toggle>
                        <mat-datepicker #Exam_i></mat-datepicker>
                      </mat-form-field>              
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                    <strong>{{ 'notas.hasta' | translate }}:</strong>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>{{ 'notas.elije_fecha_fin' | translate }}:</mat-label>
                        <input matInput [matDatepicker]="Exam_f">
                        <mat-datepicker-toggle matSuffix [for]="Exam_f"></mat-datepicker-toggle>
                        <mat-datepicker #Exam_f></mat-datepicker>
                      </mat-form-field>              
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <strong>{{ 'notas.habilitaciones' | translate }}:</strong>
                </div>
            </div>
            <div class="row d-flex align-items-center">
                <div class="col-md-2 d-flex justify-content-center">
                    <strong>{{ 'notas.desde' | translate }}:</strong>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>{{ 'notas.elije_fecha_inicio' | translate }}:</mat-label>
                        <input matInput [matDatepicker]="Habilit_i">
                        <mat-datepicker-toggle matSuffix [for]="Habilit_i"></mat-datepicker-toggle>
                        <mat-datepicker #Habilit_i></mat-datepicker>
                      </mat-form-field>              
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                    <strong>{{ 'notas.hasta' | translate }}:</strong>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>{{ 'notas.elije_fecha_fin' | translate }}:</mat-label>
                        <input matInput [matDatepicker]="Habilit_f">
                        <mat-datepicker-toggle matSuffix [for]="Habilit_f"></mat-datepicker-toggle>
                        <mat-datepicker #Habilit_f></mat-datepicker>
                      </mat-form-field>              
                </div>
            </div>

            <div class="row d-flex align-items-center">
                <div class="col-md-3"></div>
                <div class="col-md-3" align="center">
                    <button mat-raised-button color="primary">{{ 'notas.guardar' | translate }}</button>
                </div>
                <div class="col-md-3" align="center">
                    <button mat-raised-button color="primary">{{ 'notas.regresar' | translate }}</button>
                </div>
                <div class="col-md-3"></div>
            </div>

        </fieldset>
    </nb-card-body>
    <nb-card-footer></nb-card-footer>
</nb-card>