.selector {
    margin: 10px;
}

.isolateRows {
    margin: 5px;
    padding: 10px;
    border: 1px solid #648496;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #888888;
}

.buttons {
    margin: 20px;
}