<nb-card [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="xxlarge"
nbSpinnerMessage="{{ 'GLOBAL.cargando' | translate }}">
  <nb-card-body>
    <div class=col-12>
      <fieldset [ngClass]="{'fieldseter':true}" >
        <legend>
          &nbsp; {{ 'admision.inscripcion' | translate }}
        </legend>

        <div *ngIf="showProfile">
          <!--Periodo académico-->
          <mat-form-field style="width: 35%;">
            <mat-label>{{ 'admision.periodo_' | translate }}:</mat-label>
            <mat-select [(ngModel)]="periodo" (selectionChange)="selectPeriodo()">
              <mat-option>--{{ 'GLOBAL.seleccionar' | translate }}--</mat-option>
              <mat-option *ngFor="let item of periodos" [value]="item"> {{item.Nombre}} </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Nivel -->
          <mat-form-field style="width: 75%;">
            <mat-label>{{ 'admision.nivel' | translate }}:</mat-label>
            <mat-select [(ngModel)]="selectednivel" #nivel="ngModel" (selectionChange)="loadProyectos()" required>
              <mat-option [value]="null">--{{ 'GLOBAL.seleccionar' | translate }}--</mat-option>
              <mat-option *ngFor="let item of nivel_load" [value]="item.Id"> {{item.Nombre}} </mat-option>
            </mat-select>
            <mat-error *ngIf="nivel.invalid && nivel.touched">
              {{ 'admision.erro_selec_nivel' | translate }}
            </mat-error>
          </mat-form-field>

          <!-- Proyecto académico -->
          <mat-form-field style="width: 75%;">
            <mat-label>{{ 'admision.proyecto' | translate }}:</mat-label>
            <mat-select [(ngModel)]="proyectos_selected"
                        #proyecto="ngModel"
                        (selectionChange)="loadInscritos()"
                        [disabled]='selectprograma' required>
              <mat-option [value]="null">--{{ 'GLOBAL.seleccionar' | translate }}--</mat-option>
              <mat-option *ngFor="let item of proyectos" [value]="item.Id" [disabled]="!item.Id">{{item.Nombre}}</mat-option>
            </mat-select>
            <mat-error *ngIf="proyecto.invalid && proyecto.touched">
              {{ 'admision.error_proyecto' | translate }}
            </mat-error>
          </mat-form-field>
          <br/><br/>
                    
          <!-- Cantidad registros por pagina -->
          <mat-form-field style="width: 35%;">
            <mat-label>{{ 'admision.cantidad_registros' | translate }}:</mat-label>
            <mat-select [(ngModel)]="selectedCantidadRegistros" #cantidad_registros="ngModel" (selectionChange)="loadCantidadRegistros()" required>
              <mat-option>--{{ 'GLOBAL.seleccionar' | translate }}--</mat-option>
              <mat-option *ngFor="let item of cantidad_registros_load" [value]="item"> {{item}} </mat-option>
            </mat-select>
            <mat-error *ngIf="cantidad_registros.invalid && cantidad_registros.touched">
              {{ 'admision.erro_selec_cantidad_registros' | translate }}
            </mat-error>
          </mat-form-field>


          <nb-card status="success" style="border: 1px solid var(--primary);" *ngIf="mostrarConteos">
            <nb-card-header class="d-flex justify-content-around align-items-center">
              {{ 'admision.resumen_estados_inscripcion' | translate }}
            </nb-card-header>
            <nb-card-body class="d-flex justify-content-around align-items-center">
              <label>{{ 'admision.estado_inscrito' | translate }}: <b>{{cantidad_inscritos}}</b></label>
              <label>{{ 'admision.estado_inscrito_observacion' | translate }}: <b>{{cantidad_inscritos_obs}}</b></label>
              <label>{{ 'admision.estado_admitido' | translate }}: <b>{{cantidad_admitidos}}</b></label>
              <label>{{ 'admision.total_aspirantes' | translate }}: <b>{{cantidad_aspirantes}}</b></label>
            </nb-card-body>
          </nb-card>
          

            <!--Tabla-->
            <nb-card-body>
              <div style="overflow: auto;" *ngIf="showTable">
                <ng2-smart-table [settings]="settings" 
                                 [source]="dataSource" 
                                 (custom)="loadPerfil($event)">
                </ng2-smart-table>
              </div>
            </nb-card-body>
        </div>

        <div *ngIf="!showProfile">
          <div class="button-return" style="padding-left: 3rem; padding-top: 2rem;">
            <button (click)="activateTab()" class="btn btn-info btn-sm"> <i class="nb-arrow-dropleft"></i> {{ 'GLOBAL.regresar' | translate }}</button>
          </div>
          <div class="text-center">
            <ngx-perfil [SuiteTags]="tagsObject" [en_revision]="true" info_persona_id="{{info_persona_id}}" inscripcion_id="{{inscripcion_id}}"
              (revisar_doc)="revisarDocumento($event)" [reloadTagComponent]="folderTagtoReload">
            </ngx-perfil>
          </div>
        </div>
      </fieldset>
    </div>
  </nb-card-body>
</nb-card>
