<nb-card>
  <nb-card-body>
    <toaster-container [toasterconfig]="config"></toaster-container>
    <ngx-crud-idiomas [info_idioma_id]="uid" inscripcion_id={{this.inscripcion_id}} 
      (eventChange)="onChange($event)" (result)="getPercentage($event)"></ngx-crud-idiomas>
    <ng2-smart-table [settings]="settings" [source]="source"
      (delete)="onDelete($event)" (rowSelect)="itemselec($event)"
      (edit)="onEdit($event)" (create)="onCreate($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
