<nb-card>
    <nb-card-body>
        <div class="col-md-12">
            <table class="table-responsive">
                <thead>
                    <tr><th colspan="5">{{"GLOBAL.formacion_academica" | translate}}</th></tr>
                    <tr class="subheader">
                        <th>{{ 'GLOBAL.institucion' | translate }}</th>
                        <th>{{ 'GLOBAL.programa' | translate }}</th>
                        <th>{{ 'GLOBAL.nivel' | translate }}</th>
                        <th>{{ 'GLOBAL.fecha_inicio' | translate }}</th>
                        <th>{{ 'GLOBAL.fecha_fin' | translate }}</th>
                    </tr>
                </thead>
                <tbody *ngIf="info_formacion_academica">
                    <tr *ngFor="let formacion of info_formacion_academica">
                        <td>{{formacion.NombreCompleto}}</td>
                        <td>{{formacion.ProgramaAcademico.Nombre}}</td>
                        <td></td>
                        <td>{{formacion.FechaInicio }}</td>
                        <td>{{formacion.FechaFinalizacion }}</td>
                    </tr>
                </tbody>
            </table>
            <span *ngIf="url_editar" (click)="editar()" class="link"><i
                    class="ion-edit"></i>{{"GLOBAL.actualizar" | translate}}</span>
        </div>
    </nb-card-body>
</nb-card>