// themes - our custom or/and out of the box themes
@import "themes";

// framework component themes (styles tied to theme variables)
@import "~@nebular/theme/styles/globals";
@import "~@nebular/auth/styles/all";

// global app font size
@import "./font-size";

// loading progress bar theme
@import "./pace.theme";

@import "./bootstrap-rtl";
@import "~angular-tree-component/dist/angular-tree-component.css";

// Import library functions for theme creation.
@import "~@angular/material/theming";

@import "./../components/dinamicform/dinamicform.component";

// Include non-theme styles for core.
@include mat-core();

$my-blue: (
  50: var(--primary),
  100: var(--primary),
  200: var(--primary),
  300: var(--primary),
  400: var(--primary),
  500: var(--primary),
  600: var(--primary),
  700: var(--primary),
  800: var(--primary),
  900: var(--primary),
  A100: var(--primary),
  A200: var(--primary),
  A400: var(--primary),
  A700: var(--primary),
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  ),
);
// Define your application's custom theme.
$mat-mytheme-primary: mat-palette($my-blue, 100);
$mat-mytheme-accent: mat-palette($mat-green, A200, A100, A400);

$mat-mytheme: mat-light-theme($mat-mytheme-primary, $mat-mytheme-accent);

// Include theme styles for Angular Material components.
@include angular-material-theme($mat-mytheme);

// install the framework and custom global styles
@include nb-install() {
  ::ng-deep .mat-input-element::placeholder {
    color: var(--primary);
  }

  ::ng-deep .mat-input-placeholder {
    color: nb-theme(text-basic-color);
  }

  ::ng-deep .mat-select-value {
    color: nb-theme(text-basic-color);
  }

  ::ng-deep .mat-select-placeholder {
    color: var(--primary);
  }

  ::ng-deep .mat-form-field-underline {
    background-color: 1px;
  }

  ::ng-deep .mat-form-field-label {
    color: var(--primary);
  }

  ::ng-deep .progress {
    background-color: var(--primary) !important;
  }

  ::ng-deep .progress-bar {
    color: nb-theme(text-basic-color) !important;
  }

  .link {
    cursor: pointer;
    color: var(--primary) !important;
    &:hover {
      color: var(--primary) !important;
      @include nb-for-theme(default) {
        color: var(--primary) !important;
      }
      text-decoration: underline;
    }
  }

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  // loading progress bar
  @include ngx-pace-theme();

  nb-sidebar {
    background: var(--primary) !important;
  }

  ngx-header i {
    color: #000 !important;
  }

  // fixed in rc.9 and can be removed after upgrade
  .custom-control .custom-control-indicator {
    border-radius: 50%; // TODO: quickfix for https://github.com/akveo/nebular/issues/275
  }
  @include bootstrap-rtl();
}

nb-menu {
  .menu-item {
    padding-left: 0;
    font-weight: 600;
    font-size: 1rem;
    border-bottom: 1px solid transparent !important;
  }
}
.menu-item {
  .menu-items {
    .menu-item {
      border-bottom: 1px solid transparent;
      padding-left: 1rem;
      font-weight: 400;
      font-size: 1rem;
    }
  }
}

.files-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 1rem 0 1rem 0;
}

.preinscription-alert {
  background-color: var(--warning-main);
  font-weight: 700;
  font-size: 0.9rem;
  padding: 2rem;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
}
.btn-info legend {
  color: var(--primary);
  font-size: 1.8rem;
  font-weight: 400;
}

.fieldseter {
  display: flow-root;
  -moz-padding-start: 1rem;
  -moz-padding-end: 1rem;
  -moz-padding-after: 1rem;

  -webkit-margin-start: 1rem;
  -webkit-margin-end: 1rem;
  -webkit-padding-before: 1rem;
  -webkit-padding-start: 1rem;
  -webkit-padding-end: 1rem;
  -webkit-padding-after: 1rem;

  min-width: -moz-min-content;
  border-width: 2px;
  border-radius: 0.4rem;
  border-style: groove;
  border-color: var(--color400);
}

.mat-expansion-panel-body {
  overflow: auto;
}

.nb-theme-ud nb-card.status-success nb-card-header {
  background-color: var(--primary);
  border-bottom-width: 0;
  border-bottom-color: var(--primary);
  color: #ffffff;
}

.nb-theme-ud nb-card {
  color: #101426;
  margin: 0.5rem;
  font-size: 1rem;
  font-weight: 300;
}

.nb-theme-ud nb-tabset .tab-link {
  font-size: 1rem;
  color: #555;
}

.nb-theme-ud nb-menu .menu-item .menu-icon {
  color: var(--color100);
  font-size: 1.5rem;
  margin: 0 0.5rem 0 0;
  width: 1em;
  text-align: center;
}

.nb-theme-ud nb-spinner.status-success {
  .spin-circle {
    border-top-color: var(--primary);
    border-right-color: transparent;
    border-bottom-color: var(--primary);
    border-left-color: var(--primary);
  }
  background-color: #ffffff80;
  font-size: 5rem;
  color: var(--primary);
}

.bg-success {
  background-color: var(--primary) !important;
}

.btn-info {
  background-color: var(--primary);
  border-color: var(--primary);
}

.nb-theme-ud nb-card nb-card-body img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  -o-object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.mat-button {
  background-color:var(--primary);
  color: #fff;
}

.mat-button:disabled,
.mat-button[disabled] {
  background-color: var(--color300) !important;
  color: #ddd !important;
}