// themes - our custom or/and out of the box themes
@import "themes";

// framework component themes (styles tied to theme variables)
@import "~@nebular/theme/styles/globals";
@import "~@nebular/auth/styles/all";

// global app font size
@import "./font-size";

// loading progress bar theme
@import "./pace.theme";

@import "./bootstrap-rtl";
@import "~angular-tree-component/dist/angular-tree-component.css";

// Import library functions for theme creation.
@import "~@angular/material/theming";

// Include non-theme styles for core.
@include mat-core();

$my-blue: (
  50: var(--primary),
  100: var(--primary),
  200: var(--primary),
  300: var(--primary),
  400: var(--primary),
  500: var(--primary),
  600: var(--primary),
  700: var(--primary),
  800: var(--primary),
  900: var(--primary),
  A100: var(--primary),
  A200: var(--primary),
  A400: var(--primary),
  A700: var(--primary),
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  ),
);
// Define your application's custom theme.
$mat-mytheme-primary: mat-palette($my-blue, 100);
$mat-mytheme-accent: mat-palette($mat-green, A200, A100, A400);

$mat-mytheme: mat-light-theme($mat-mytheme-primary, $mat-mytheme-accent);

// Include theme styles for Angular Material components.
@include angular-material-theme($mat-mytheme);

// install the framework and custom global styles
@include nb-install() {
  ::ng-deep .mat-input-element::placeholder {
    color: var(--primary)
  }

  ::ng-deep .mat-input-placeholder {
    color: nb-theme(text-basic-color);
  }

  ::ng-deep .mat-select-value {
    color: nb-theme(text-basic-color);
  }

  ::ng-deep .mat-select-placeholder {
    color: var(--primary)
  }

  ::ng-deep .mat-form-field-underline {
    background-color: nb-theme(form-control-border-color);
  }

  ::ng-deep .mat-form-field-label {
    color: var(--primary)
  }

  ::ng-deep .progress {
    background-color: nb-theme(layout-bg) !important;
  }

  ::ng-deep .progress-bar {
    color: nb-theme(text-basic-color) !important;
  }

  .link {
    cursor: pointer;
    color: nb-theme(link-color);
    &:hover {
      color: nb-theme(link-color-hover);
      @include nb-for-theme(default) {
        color: var(--primary) !important;
      }
      text-decoration: underline;
    }
  }

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  // loading progress bar
  @include ngx-pace-theme();

  nb-sidebar {
    @include nb-for-theme(default) {
      margin-top: nb-theme(sidebar-margin-top) !important;
      background: nb-theme(sidebar-bg) !important;
    }
  }

  ngx-header i {
    color: nb-theme(header-fg) !important;
  }

  // fixed in rc.9 and can be removed after upgrade
  .custom-control .custom-control-indicator {
    border-radius: 50%; // TODO: quickfix for https://github.com/akveo/nebular/issues/275
  }
  @include bootstrap-rtl();
}

nb-menu {
  .menu-item  {
    padding-left: 0;
    font-weight: 600;
  }
}
.menu-item {
  .menu-items {
    .menu-item {
      padding-left: 1.5rem;
      font-weight: 400;
    }
  }
}

.files-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 1rem 0 1rem 0;
}

.preinscription-alert {
  background-color: var(--warning-main);
  font-weight: 700;
  font-size: 0.9rem;
  padding: 2rem;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
}