// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';
// import angular material theme
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


// which themes you what to enable (empty to enable all)
$nb-enabled-themes: (corporate, corporate);
//0095DD F2F2F2
$primary-color-theme: #2f5573;
$secundary-color-theme: #f2f2f2;
$nb-enabled-themes: (default, cosmic, corporate, ud);

$nb-themes: nb-register-theme((
  // footer
  footer-fg: #fff,
  footer-bg: #252525,
  footer-height: auto,
 // app wise variables for each theme
  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,
  font-main: Roboto,
  font-secondary: Exo,
  //smart-table
  smart-table-border-radius: 0.1rem	,
  smart-table-header-font-size: 0.8rem,
  smart-table-font-size: 0.65rem,
  smart-table-font-weight: 400,
  smart-table-padding: 0.275rem 0.725rem,
  smart-table-paging-border-width: 0.5,
  smart-table-filter-padding: 0.1rem 0.1rem,
  //form-control
  form-control-placeholder-font-size: 0.8rem,
  form-control-font-size: 0.8rem,
  form-control-border-width: 1px,
  form-control-border-radius: 0.1rem,
  //fonts
  font-weight-thin: 100,
  font-weight-light: 200,
  font-weight-normal: 300,
  font-weight-bolder: 400,
  font-weight-bold: 500,
  font-weight-ultra-bold: 600,
  //general
  padding: 1rem,
  font-size: 1.1rem,
  margin: 1rem,
  layout-padding: 2rem 0.2rem 3rem,

  sidebar-bg: #212121,
  sidebar-fg: $secundary-color-theme,
  sidebar-shadow: none,
  sidebar-padding: 0.3rem,
  sidebar-margin-top: 0,
  tabs-fg: gray,

  color-fg: #777777,
  menu-icon-color: $secundary-color-theme,
  card-shadow: 0 2px 8px 0 rgba(43, 43, 43, 0.494),

  menu-bg: #212121,
  menu-fg: $secundary-color-theme,
  menu-active-bg: #f2f2f2,
  menu-active-fg: #212121,
  menu-font-size: 0.8rem,
  menu-item-separator: #212121,

  menu-submenu-bg: #24292e,
  menu-submenu-fg: $secundary-color-theme,
  menu-submenu-active-bg: #24292e,
  menu-submenu-active-fg: $primary-color-theme,
  menu-submenu-item-border-width: 0,
  menu-submenu-item-padding: none,
  menu-submenu-item-container-padding: none,
  menu-submenu-padding: none,
  menu-submenu-item-border-radius: 0,
  menu-icon-font-size: 1.5rem,
  scrollbar-fg: #212121,
  scrollbar-bg: #24292e,


  //header
  header-font-family: 'sans-serif',
  header-font-size: 0.7rem,
  header-height: 5.5rem,
  header-padding: none,
  header-fg: $secundary-color-theme,
  header-bg: $primary-color-theme,
  header-shadow: none,

  footer-shadow: none,


  switcher-background: $primary-color-theme,
  switcher-background-percentage: 14%,
  drops-icon-line-gadient: -webkit-linear-gradient(#01dbb5, #0bbb79),
), default, default);

$nb-themes: nb-register-theme((
  //footer
  footer-height: auto,
  // app wise variables for each theme
  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,
  font-main: Roboto,
  font-secondary: Exo,
  //smart-table
  smart-table-border-radius: 0.1rem	,
  smart-table-header-font-size: 0.8rem,
  smart-table-font-size: 0.65rem,
  smart-table-font-weight: 400,
  smart-table-padding: 0.275rem 0.725rem,
  smart-table-paging-border-width: 0.5,
  smart-table-filter-padding: 0.1rem 0.1rem,
  //form-control
  form-control-placeholder-font-size: 0.8rem,
  form-control-font-size: 0.8rem,
  form-control-border-width: 1px,
  form-control-border-radius: 0.1rem,

  header-height: 5.5rem,

  //fonts
  font-weight-thin: 100,
  font-weight-light: 200,
  font-weight-normal: 300,
  font-weight-bolder: 400,
  font-weight-bold: 500,
  font-weight-ultra-bold: 600,
  //general
  padding: 1rem,
  font-size: 0.9rem,
  margin: 1rem,

  switcher-background: #554db3,
  switcher-background-percentage: 14%,
  drops-icon-line-gadient: -webkit-linear-gradient(#a258fe, #7958fa),
), cosmic, cosmic);

$nb-themes: nb-register-theme((
    // footer
    footer-fg: #fff,
    footer-bg: #252525,
    footer-height: auto,
  // app wise variables for each theme
  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,

  font-main: Roboto,
  font-secondary: Exo,

  switcher-background: #000,
  switcher-background-percentage: 14%,
  drops-icon-line-gadient: -webkit-linear-gradient(#e9e8eb, #a7a2be),
  sidebar-bg: #212121,
  sidebar-fg: $secundary-color-theme,
  sidebar-shadow: none,
  sidebar-padding: 0.3rem,
  sidebar-margin-top: 0,
  tabs-fg: gray,
 
  card-header-info-bg: rgba(0, 36, 153, 0.333),
  color-fg: #777777,
  menu-icon-color: $secundary-color-theme,
  card-shadow: 0 2px 8px 0 rgba(43, 43, 43, 0.494),

  header-height: 5.5rem,

  menu-bg: #000,
  menu-fg: $secundary-color-theme,
  menu-active-bg: #f2f2f2,
  menu-active-fg: #212121,
  menu-font-size: 0.8rem,
  menu-item-separator: #212121,

  menu-submenu-bg: #000,
  menu-submenu-fg: $secundary-color-theme,
  menu-submenu-active-bg: #f2f2f2,
  menu-submenu-active-fg: $primary-color-theme,
  menu-submenu-item-border-width: 0,
  menu-submenu-item-padding: none,
  menu-submenu-item-container-padding: none,
  menu-submenu-padding: none,
  menu-submenu-item-border-radius: 0,
  menu-icon-font-size: 1.5rem,
  scrollbar-fg: #212121,
  scrollbar-bg: #fff,
), corporate, corporate);




$nb-themes: nb-register-theme((

  font-main: sans-serif,
  color-bg: #ffffff,
  color-bg-active: rgb(42, 33, 168),
  color-fg: rgb(153, 26, 142),
  color-fg-heading: #4FB9FF,
  color-fg-text: #000000,
  color-fg-highlight: #7ac273,
  color-white: #ffffff,
  color-primary: rgb(73, 153, 26),
  color-success: #64D9FF,
  color-info: #A83121,
  color-warning: #BA4A3A,
  color-danger: rgb(180, 56, 39),

  // btn

  btn-success-bg: #64D9FF,
  // Card
 card-fg: #ffffff,
 card-fg-text: #6F613F,
 card-fg-heading: #6F613F,
 card-bg: #ffffff,
 card-border-color: #BA4A3A,
 card-separator: #ffffff73,
 card-header-fg: #6F613F,
 card-header-fg-heading: #6F613F,
 card-header-active-bg:  rgb(7, 3, 58),
 card-header-success-bg: rgba(82, 162, 241, 0.2),
 card-header-info-bg:  #C0E7FF,
 


  
  // footer
  footer-fg: #64C9FF,
  footer-bg: #ffffff,
  footer-height: auto,
 // app wise variables for each theme
  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,
  font-secondary: Exo,
  //smart-table
  smart-table-border-radius: 0.1rem	,
  smart-table-header-font-size: 0.8rem,
  smart-table-font-size: 0.65rem,
  smart-table-font-weight: 400,
  smart-table-padding: 0.275rem 0.725rem,
  smart-table-paging-border-width: 0.5,
  smart-table-filter-padding: 0.1rem 0.1rem,
  //form-control
  form-control-placeholder-font-size: 0.8rem,
  form-control-font-size: 0.8rem,
  form-control-border-width: 1px,
  form-control-border-radius: 0.1rem,
  //fonts
  font-weight-thin: 100,
  font-weight-light: 200,
  font-weight-normal: 300,
  font-weight-bolder: 400,
  font-weight-bold: 500,
  font-weight-ultra-bold: 600,
  //general
  padding: 1rem,
  font-size: 0.9rem,
  margin: 1rem,
  layout-padding: 2rem 0.2rem 3rem,

  sidebar-bg:  #4FB9FF,//#ffffff,
  sidebar-fg: #000000,
  sidebar-shadow: none,
  sidebar-padding: 0.3rem,
  sidebar-margin-top: 0,
  tabs-fg: #000000,

  
  menu-icon-color: #ffffff,
  card-shadow: 0 2px 5px 0    #C0E7FF,

  menu-bg:  #4FB9FF,
  menu-fg: #ffffff,
  menu-active-bg: #4FB9FF,
  menu-active-fg: #ffffff,
  menu-font-size:0.875rem,
  menu-item-separator: #4FB9FF,

  menu-submenu-bg: #4FB9FF,
  menu-submenu-fg: #ffffff,
  menu-submenu-active-bg:  #ffffff,
  menu-submenu-active-fg: #000000,
  menu-submenu-item-border-width: 0,
  menu-submenu-item-padding: none,
  menu-submenu-item-container-padding: none,
  menu-submenu-padding: none,
  menu-submenu-item-border-radius: 0,
  menu-icon-font-size: 1.5rem,
  scrollbar-fg: #00ce2d,
  scrollbar-bg: transparent,


  //header
  header-font-family: 'sans-serif',
  header-font-size: 0.7rem,
  header-height: 5.5rem,
  header-padding: none,
  header-fg: #91E7FF,
  header-bg: #ffffff,
  header-shadow: none,

  footer-shadow: none,

  switcher-background: #ffffff,
  switcher-background-percentage: 14%,
  drops-icon-line-gadient: -webkit-linear-gradient(#db3401, #bb0b0b),
), ud, default);
