<div class="dinamic-form">
  <fieldset [ngClass]="{'fieldseter':true} " [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="xxlarge" nbSpinnerMessage="{{ 'GLOBAL.cargando' | translate }}">
    <legend>
      {{ 'calendario.definicion' | translate }}
    </legend>
    <form novalidate [formGroup]="calendarForm" #fform="ngForm" (ngSubmit)="createCalendar($event)" class="form-horizontal" >
      <div class="row">
        <div class="col-12">
          <mat-form-field style="width: 100%;" floatLabel="always">
            <mat-label>*{{ 'calendario.para' | translate }} </mat-label>
            <mat-select formControlName="Nivel" placeholder="Pregrado/Posgrado" required>
              <mat-option>--Seleccionar--</mat-option>
              <mat-option *ngFor="let nivel of nivel_load" [value]="nivel.id" >
                {{ nivel.nombre }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="calendarForm.get('Nivel').hasError('required') && calendarForm.get('Nivel').touched" >
              {{ 'calendario.error_select_para' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-5">
          <mat-form-field style="width: 100%;" floatLabel="always">
            <mat-label>*{{ 'calendario.periodo' | translate }}: </mat-label>
            <mat-select formControlName="PeriodoId" placeholder="2020-I, 2020-II, 2020-III" required >
              <mat-option>--Seleccionar--</mat-option>
              <mat-option *ngFor="let periodo of periodos" [value]="periodo.Id" >
                {{ periodo.Nombre }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="calendarForm.get('PeriodoId').hasError('required') && calendarForm.get('PeriodoId').touched" >
              {{ 'calendario.error_select_periodo' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-4">
          <button mat-button type="button" (click)="addPeriod()">{{ 'calendario.agregar_periodo' | translate }} </button>
        </div>
      </div>
      <!-- anidado -->
      <fieldset [ngClass]="{'fieldseter':true} ">
        <legend>
          {{ 'calendario.resolucion' | translate }}
        </legend>
        <div class="row">
          <div class="col-3">
            <mat-form-field floatLabel="always">
              <input matInput type="text" formControlName="resolucion" placeholder="{{ 'calendario.numero_resolucion' | translate }} " required />
              <mat-error *ngIf="calendarForm.get('resolucion').hasError('required') && calendarForm.get('resolucion').touched" >
                {{ 'calendario.error_resolucion' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field floatLabel="always">
              <input matInput type="text" formControlName="anno" placeholder="{{ 'calendario.anno_resolucion' | translate }} " required/>
              <mat-error *ngIf="calendarForm.get('anno').hasError('minLength') &&calendarForm.get('anno').hasError('required') && calendarForm.get('anno').touched" >
                {{ 'calendario.error_anno' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-3">
            <p>{{ 'calendario.etiqueta_documento' | translate }} </p>
          </div>
          <div class="col-3">
            <button mat-button type="button" (click)="fileInput.click()">
              <span class="fa fa-paperclip fa-lg"></span>
              <input formControlName="fileResolucion" #fileInput type="file" (change)="onInputFileResolucion($event)" style="display:none;" accept="application/pdf" data-max-size="5120"/>
            </button>
            <mat-error *ngIf="!fileResolucion">{{ 'ERROR.no_documento' | translate }}</mat-error>
            <label *ngIf="fileResolucion">{{ 'GLOBAL.archivo_seleccionado' | translate }}: {{fileResolucion.name}}</label>
          </div>
        </div>
      </fieldset>
      <br>
      <div class="row" *ngIf="!createdCalendar">
        <div class="col-12">
          <button class="float-right" mat-button type="submit" [disabled]="calendarForm.invalid" >{{ 'GLOBAL.guardar' | translate }} </button>
        </div>
      </div>
      <br>
    </form>
    <fieldset [ngClass]="{'fieldseter':true} " *ngIf="createdCalendar">
      <legend>
        {{ 'calendario.procesos_actividades' | translate }}
      </legend>
      <div class="calendar-buttons" [hidden]="activetabs">
        <div class="row">
          <div class="col-12">
            <p>{{ 'calendario.procesos_descripcion' | translate }} </p>
          </div>
        </div>
        <div class="row">
          <div class="col-6 text-center"><button mat-button type="button">{{ 'calendario.procesos_copiar' | translate }} </button></div>
          <div class="col-6 text-center"><button mat-button type="button" (click)="openTabs()">{{ 'calendario.procesos_definir' | translate }} </button></div>
        </div>
      </div>
      <div class="calendar-content" *ngIf="activetabs">
        <mat-tab-group>
          <mat-tab label="{{ 'calendario.procesos' | translate }}" >
            <ng2-smart-table  [settings]="processSettings" [source]="processTable" (create)="addProcess($event)" (edit)="editProcess($event)" (delete)="deleteProcess($event)" ></ng2-smart-table>
          </mat-tab>
          <mat-tab label="{{ 'calendario.actividades' | translate }}" >
            <mat-accordion>
              <mat-expansion-panel *ngFor="let process of processes">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ process.Nombre }}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <ng2-smart-table  [settings]="activitiesSettings" [source]="process.actividades" (create)="addActivity($event, process)" (edit)="editActivity($event, process)" (delete)="deleteActivity($event, process)" ></ng2-smart-table>
              </mat-expansion-panel>
            </mat-accordion>
          </mat-tab>
        </mat-tab-group>
      </div>
    </fieldset>
  </fieldset>
</div>
