:host /deep/ .nb-theme-default ng2-smart-table table tr td {
    font-size: 0.85rem;
}

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-table {
    overflow: auto;
}

.mat-button, .mat-raised-button {
    background-color:rgb(0, 162, 255);
    color: #fff;
  }

  .box {
    display: flex;
    justify-content: center; /* For horizontal alignment */
    margin-left:20px;
    padding: 8px 24px 21px 21px;
    align-items: center; /* For vertical alignment */
}
.item1 {
    margin:  20px;
}

.item2 {
    margin:  20px;
}

.item3 {
    margin:  20px;
}
::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: rgb(0, 153, 255);
  }
  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
  .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate,
  .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
    background-color: rgb(0, 119, 255) !important; /* Red background for example */
}

.mat-row:nth-child(even) {
    background-color: rgb(255, 255, 255);
}

.mat-row:nth-child(odd) {
    background-color: rgb(255, 255, 255);
}

.columna {
    width: 33%;
    float: left;
}

@media (max-width: 500px) {
    .columna {
        width: auto;
        float: none;
    }
}

.mat-success {
    background-color: green;
    color: #fff;
}

.mat-success-1 {
    background-color: rgb(196, 199, 16);
    color: #fff;
}

.capitalize {
    text-transform: capitalize;
}

.inner {
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.encabezado {
    background-color: rgb(220, 221, 238);
}
