<div class="row">
    <div class="col">
      <mat-card [nbSpinner]="loading"
                nbSpinnerStatus="success"
                nbSpinnerSize="xxlarge"
                nbSpinnerMessage="{{ 'GLOBAL.cargando' | translate }}">
  
        <fieldset [ngClass]="{'fieldseter' : true}">
          <legend>
            {{ "consultaproyecto.titulo" | translate }}
          </legend>
          
          <nb-card style="margin: 0px; padding: 0px;">
                <nb-card-body class="explicacion">
                {{ 'consultaproyecto.explicacacion' | translate }}
            </nb-card-body>
          </nb-card>

          <nb-card>
            <nb-card-body style="padding: 0rem;">

                <ng2-smart-table [settings]="settings"
                                 [source]="source"
                                 (rowSelect)="highlight($event)"
                                 (custom)="onAction($event)">
                </ng2-smart-table>

            </nb-card-body>
        </nb-card>

        </fieldset>
      </mat-card>
    </div>
</div>