:host ::ng-deep .nb-theme-default ng2-smart-table table tr td {
    font-size: 0.95rem;
}

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.mat-column-Id {
    flex: 0 0 50px;
}

.mat-column-NombreFacultad {
    flex: 0 0 150px;
    justify-content:center;
}
.mat-column-proyecto {
    flex: 0 0 150px;
    justify-content:center;
}

.mat-column-Nivel-Proyecto {
    flex: 0 0 100px;
    justify-content:center;
}

.mat-column-codigo {
    flex: 0 0 100px;
    justify-content:center;
}

.mat-column-OfertaLetra {
    flex: 0 0 100px;
    justify-content:center;
}

.mat-column-FechaVenimientoAcreditacion {
    flex: 0 0 110px;
    justify-content:center;
}

.mat-column-FechaVenimientoCalidad {
    flex: 0 0 110px;
    justify-content:center;
}

.mat-column-Consulta {
    flex: 0 0 80px;
    justify-content:center;
}

.mat-column-editar {
    flex: 0 0 80px;
    justify-content:center;
}

.mat-column-inhabilitar {
    flex: 0 0 80px;
    justify-content:center;
}

.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-table {
    overflow: auto;
}

.mat-row, .mat-header-row {
    justify-content: space-around;
}

.mat-row:nth-child(even) {
    background-color: rgb(255, 255, 255);
}

.mat-row:nth-child(odd) {
    background-color: rgb(255, 255, 255);
}

.capitalize {
    text-transform: capitalize;
}

.encabezado {
    background-color: rgb(220, 221, 238);
}

.explicacion {
    font-size: 12pt;
}

.titulo {
    font-size: 16pt;
}

:host ::ng-deep ng2-st-tbody-edit-delete {
    display: flex !important;
    height: 0 !important;
}

:host ::ng-deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom {
  display: inline-block;
  text-align: center;
  font-size: 1.1em;
}

:host ::ng-deep ng2-st-tbody-custom {
  display: flex;
  justify-content: space-around;
}

:host ::ng-deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom:hover {
  color: #5dcfe3;
  i.nb-trash:hover {
      color: #b5261b;
  }
}

:host ::ng-deep .nb-theme-default ng2-smart-table table tr td {
  font-size: 0.95rem;
}
