:host /deep/ .nb-theme-default ng2-smart-table table tr td {
    font-size: 0.85rem;
}

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.mat-column-Id {
    flex: 0 0 50px;
}

.mat-column-Facultad {
    flex: 0 0 150px;
    justify-content:center;
}
.mat-column-Nombre-Proyecto {
    flex: 0 0 150px;
    justify-content:center;
}

.mat-column-Nivel-Proyecto {
    flex: 0 0 100px;
    justify-content:center;
}

.mat-column-codigo {
    flex: 0 0 100px;
    justify-content:center;
}

.mat-column-Oferta {
    flex: 0 0 100px;
    justify-content:center;
}

.mat-column-registro {
    flex: 0 0 110px;
    justify-content:center;
}

.mat-column-calidad {
    flex: 0 0 110px;
    justify-content:center;
}

.mat-column-Consulta {
    flex: 0 0 80px;
    justify-content:center;
}

.mat-column-editar{ 
    flex: 0 0 80px;
    justify-content:center;
}

.mat-column-inhabilitar {
    flex: 0 0 80px;
    justify-content:center;
}

.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-table {
    overflow: auto;
}

.mat-row:nth-child(even) {
    background-color: rgb(255, 255, 255);
}

.mat-row:nth-child(odd) {
    background-color: rgb(255, 255, 255);
}

.capitalize {
    text-transform: capitalize;
}

.encabezado {
    background-color: rgb(220, 221, 238);
}
