<toaster-container [toasterconfig]="config"></toaster-container>
<div class="col-md-12 col-lg-12 ">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <nb-card accent="info" align="center" size=4>
        <nb-card-header class="titulo">{{ 'consultaproyecto.titulo' | translate }}</nb-card-header>
        <nb-card>
            <nb-card-body class="explicacion">
                {{ 'consultaproyecto.explicacacion' | translate }}
            </nb-card-body>
        </nb-card>
        <nb-card>
            <nb-card-body>
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'oferta.filtro' | translate }}">
                </mat-form-field>

                <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                    <!--  Columna ID-->

                    <ng-container matColumnDef="Id" >
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'consultaproyecto.id' | translate }}</mat-header-cell>
                        <mat-cell *matCellDef="let row; let i = index" class="text-capitalize"> {{row.ProyectoAcademico.Id}} </mat-cell>
                    </ng-container>

                    <!-- Columna Apellido -->
                    <ng-container matColumnDef="NombreFacultad">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'consultaproyecto.facultad' | translate }}</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.NombreFacultad }} </mat-cell>
                    </ng-container>

                    <!-- Columna Nombre-->
                    <ng-container matColumnDef="proyecto">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'consultaproyecto.nombre' | translate }} </mat-header-cell>
                        <mat-cell *matCellDef="let row" class="text-capitalize"> {{row.proyecto}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Nivel Proyecto">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'consultaproyecto.nivel' | translate }} </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.ProyectoAcademico.NivelFormacionId.Nombre }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="codigo">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'consultaproyecto.codigo' | translate }} </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.ProyectoAcademico.CodigoSnies}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="OfertaLetra">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'consultaproyecto.activo' | translate }} </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.OfertaLetra }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="FechaVenimientoAcreditacion">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'consultaproyecto.registro' | translate }} </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.FechaVenimientoAcreditacion | date:'dd/MM/yyyy' }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="FechaVenimientoCalidad">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'consultaproyecto.calidad' | translate }} </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.FechaVenimientoCalidad | date:'dd/MM/yyyy' }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Consulta">
                        <mat-header-cell *matHeaderCellDef> {{ 'consultaproyecto.consulta' | translate }} </mat-header-cell>
                        <mat-cell *matCellDef="let row;  let i = index">
                            <button (click)="promesaid_consulta()" mat-button>
                                <mat-icon>visibility</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="editar">
                        <mat-header-cell *matHeaderCellDef> {{ 'consultaproyecto.editar' | translate }} </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <button (click)="promesaid_modificar()" mat-button [disabled]="!row.ProyectoAcademico.Activo">
                                    <mat-icon>edit</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="inhabilitar">
                        <mat-header-cell *matHeaderCellDef> {{ 'consultaproyecto.inhabilitar' | translate }} </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <button (click)="inhabilitarProyecto(row)" mat-button>
                                        <mat-icon *ngIf="row.ProyectoAcademico.Activo">lock</mat-icon>
                                        <mat-icon *ngIf="!row.ProyectoAcademico.Activo">lock_open</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="highlight(row,$event)"></mat-row>
                </mat-table>


            </nb-card-body>
        </nb-card>
    </nb-card>

</div>