<div class="col-12">

<!--
  <nb-card *ngIf="showTable">
    <nb-card-header>
      <legend>
        {{ "MENU.solicitud.actualizacion" | translate }}
      </legend>
    </nb-card-header>
    <nb-card-body>

      <div class="text-center">
        <button type="button" mat-button (click)="consultarSolicitudes()" >{{ 'solicitudes.consultar_boton' | translate }} </button>
      </div>
    </nb-card-body>
  </nb-card> -->

  <!-- lista de solicitudes -->
  <nb-card [nbSpinner]="loading"
           nbSpinnerStatus="success"
           nbSpinnerSize="xxlarge"
           nbSpinnerMessage="{{ 'GLOBAL.cargando' | translate }}">
  <!-- <nb-card *ngIf="!showTable"> -->
    <nb-card-body  *ngIf="showTable">
      <div class=col-12>
      <fieldset [ngClass]="{ fieldseter: true }" style="overflow: auto;">
        <legend>
          &nbsp;{{ "MENU.gestionar_solicitudes.solicitudes_actualizacion" | translate }}
        </legend>

        <nb-card style="margin: 0px;" >
          <nb-card-header>
            <ng2-smart-table
              [settings]="estructuraTabla"
              [source]="solicitudes"
              (custom)="onclick($event)">
            </ng2-smart-table>

            <br/>

            <div *ngIsGranted="['ESTUDIANTE']">
              {{ 'solicitudes.generar_solicitud' | translate }}:
              <br/>
              <br/>
              <div style="display: flex; justify-content: space-evenly; flex-wrap: wrap;"  >
                <button type="button" mat-button (click)="nuevoNombre()" >{{ 'solicitudes.generar_nombre_boton' | translate }} </button>
                <button type="button" mat-button (click)="nuevoID()" >{{ 'solicitudes.generar_id_boton' | translate }} </button>
              </div>
            </div>

            <br/>

            <button (click)="activateTab()" class="btn btn-info btn-sm" disabled=true>
              <i class="nb-arrow-dropleft"></i> {{ 'GLOBAL.regresar' | translate }}
            </button>

          </nb-card-header>

        </nb-card>
      </fieldset>
      </div>


    </nb-card-body>

    <nb-card-body *ngIf="showSolicitudID">
      <ngx-actualizacion-datos [nuevaSolicitud]="nuevaSolicitud"
                               [dataSolicitud]="solicitudSeleccionada"
                               (solicitudEnviada)="activateTab()">
      </ngx-actualizacion-datos>
      <button (click)="activateTab()" class="btn btn-info btn-sm">
        <i class="nb-arrow-dropleft"></i> {{ "GLOBAL.regresar" | translate }}
      </button>
    </nb-card-body>

    <nb-card-body *ngIf="showSolicitudNombre">
      <actualizacion-nombres [nuevaSolicitud]="nuevaSolicitud"
                             [dataSolicitud]="solicitudSeleccionada"
                             (solicitudEnviada)="activateTab()">
      </actualizacion-nombres>

      <button (click)="activateTab()" class="btn btn-info btn-sm">
        <i class="nb-arrow-dropleft"></i> {{ "GLOBAL.regresar" | translate }}
      </button>
    </nb-card-body>

  </nb-card>
</div>

