.mat-button {
    background-color: rgb(0, 162, 255);
    color: #fff;
}

.mat-button:disabled,
.mat-button[disabled] {
    background-color: rgb(0, 123, 194) !important;
    color: #ddd !important;
}

:host ::ng-deep ng2-st-tbody-edit-delete {
    display: flex !important;
    height: 0 !important;
}

:host ::ng-deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom {
    display: inline-block;
    width: 50px;
    text-align: center;
    font-size: 1.1em;
}

:host ::ng-deep ng2-st-tbody-custom {
    display: flex;
    justify-content: space-around;
}

:host ::ng-deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom:hover {
    color: #5dcfe3;
}

:host ::ng-deep .nb-theme-default ng2-smart-table table tr td {
    font-size: 0.95rem;
}
