<nb-card>
    <nb-card-body class="row container">
        <div class="col-md-12">
            <table class="table-responsive">
                <thead>
                    <tr><th colspan="2">{{"inscripcion.descuento_matricula" | translate}}</th></tr>
                </thead>
                <tbody *ngIf="info_descuento">
                    <tr *ngFor="let descuento of info_descuento">
                        <td>
                            <p>{{descuento.DescuentosDependenciaId.TipoDescuentoId.Nombre}}</p>
                        </td>
                        <td *ngIf="descuento.DocumentoId !== undefined">
                            <p><a [href]=descuento.Soporte download="{{descuento.DescuentosDependenciaId.TipoDescuentoId.Nombre}}.pdf">
                                <i class="fa fa-eye fa-2x"></i></a></p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <span *ngIf="url_editar" (click)="editar()" class="link">
        <i class="ion-edit"></i>{{"GLOBAL.actualizar" | translate}}</span>
        </div>
    </nb-card-body>
</nb-card>