<nb-card>
    <nb-card-body>
        <div class="col-md-12">
            <table class="table-responsive">
                <thead>
                    <tr><th colspan="2">{{"inscripcion.descuento_matricula" | translate}}</th></tr>
                    <tr class="subheader">
                      <th>{{ 'GLOBAL.soporte_documento' | translate }}</th>
                      <th>{{ 'solicitudes.soporte' | translate }} </th>
                    </tr>
                </thead>
                <tbody *ngIf="info_descuento">
                    <tr *ngFor="let descuento of info_descuento">
                        <td> {{descuento.DescuentosDependenciaId?descuento.DescuentosDependenciaId.TipoDescuentoId?descuento.DescuentosDependenciaId.TipoDescuentoId.Nombre:'':''}} </td>
                        <td *ngIf="descuento.Soporte !== undefined">
                            <button mat-button type="button" (click)="this.revisar_doc.emit(descuento.Soporte)">
                                <i class="nb-search" title={{variable}}></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <span *ngIf="url_editar" (click)="editar()" class="link">
        <i class="ion-edit"></i>{{"GLOBAL.actualizar" | translate}}</span>
        </div>
    </nb-card-body>
</nb-card>
