<toaster-container [toasterconfig]="config"></toaster-container>
<ngx-dinamicform [normalform]="formAsigancionCupo" [modeloData]="info_info_persona"
  (result)="validarForm($event)" [clean]="clean"
  (percentage)="setPercentage($event)">
</ngx-dinamicform>
<nb-card [hidden]="!show_calculos_cupos" accent="info">
        <nb-card-header>Nebula</nb-card-header>
        <nb-card-body>
          A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
          Originally, nebula was a name for any diffuse astronomical object,
          including galaxies beyond the Milky Way.
        </nb-card-body>
</nb-card>
<!--ngx-loading [hidden]="!loading"></ngx-loading-->
