<div class="dinamic-form">
  <form novalidate [formGroup]="activityForm" #fform="ngForm" (ngSubmit)="saveActivity()"  class="form-horizontal">
    <fieldset [ngClass]="{'fieldseter':true} ">
      <legend>
        {{ 'calendario.actividad' | translate }}
      </legend>
      <div class="row">
        <div class="col-3">
          <p>{{ 'calendario.proceso' | translate }}: {{ processName }}</p>
        </div>
        <div class="col-3">
          <p>{{ 'calendario.periodo' | translate }}: {{ period }} </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-form-field floatLabel="always" style="width: 50%;">
            <input matInput type="text" formControlName="nombre" placeholder="*{{ 'calendario.actividad' | translate }} " required />
            <mat-error *ngIf="activityForm.get('nombre').hasError('required') && activityForm.get('nombre').touched" >
              {{ 'calendario.error_nombre_actividad' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-12">
          <mat-form-field floatLabel="always" style="width: 100%;">
            <input matInput type="text" formControlName="descripcion" placeholder="*{{ 'GLOBAL.descripcion' | translate }} " required />
            <mat-error *ngIf="activityForm.get('descripcion').hasError('required') && activityForm.get('descripcion').touched" >
              {{ 'calendario.error_desc_actividad' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <mat-form-field floatLabel="always">
            <input matInput type="date" formControlName="fecha_inicio" placeholder="*{{ 'calendario.fecha_inicio' | translate }} " required/>
            <mat-error *ngIf="activityForm.get('fecha_inicio').hasError('required') && activityForm.get('fecha_inicio').touched" >
              {{ 'calendario.error_fecha_actividad' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field floatLabel="always">
            <input matInput type="date" formControlName="fecha_fin" placeholder="*{{ 'calendario.fecha_fin' | translate }} " required />
            <mat-error *ngIf="activityForm.get('fecha_fin').hasError('required') && activityForm.get('fecha_fin').touched" >
              {{ 'calendario.error_fecha_actividad' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <fieldset [ngClass]="{'fieldseter':true} ">
        <legend>
          {{ 'calendario.dirigido' | translate }}
        </legend>
        <div class="row">
          <div class="col-12">
            <mat-form-field style="width: 100%;" floatLabel="always">
              <mat-label>*{{ 'calendario.dirigido_label' | translate }} </mat-label>
              <mat-select formControlName="responsable" placeholder="Coordinadores/Estudiantes" required >
                <mat-option *ngFor="let resp of responsables" [value]="resp" >
                  {{ resp }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="activityForm.get('responsable').hasError('required') && activityForm.get('responsable').touched" >
                {{ 'calendario.error_resp_actividad' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </fieldset>
      <br>
      <div class="row">
        <div class="col-12">
          <button class="float-right" mat-button type="submit" [disabled]="activityForm.invalid" >{{ 'GLOBAL.guardar' | translate }} </button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
