<nb-card>
    <nb-card-header>
        <div class="row" align="center">
            <div class="col">
                {{ 'notas.captura_notas' | translate }}
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <mat-form-field class="col-3">
            <mat-label><strong>{{ 'notas.periodo' | translate }}</strong></mat-label>
            <mat-select #periodo placeholder="{{ 'notas.placeholder_periodo' | translate }}" (selectionChange)="filterPeriodo(periodo.value)">
                <mat-option value="invalid" disabled>{{ 'notas.hint_periodo' | translate }}</mat-option>
                <mat-option *ngFor="let periodo of periodos" [value]="periodo.value">{{periodo.viewValue}}</mat-option>
            </mat-select>
            <mat-hint align="start">{{ 'notas.hint_periodo' | translate }}</mat-hint>
        </mat-form-field>
    </nb-card-body>
    <nb-card-body>
        <fieldset [ngClass]="{'fieldseter':true} ">
            <legend> {{ 'notas.listado_docentes' | translate }} </legend>
            <mat-form-field class="col-3" style="float: right;">
                <mat-label><strong>{{ 'notas.buscar' | translate }}</strong></mat-label>
                <input matInput #search type="text" placeholder="{{ 'notas.placeholder_buscar' | translate }}" (keyup)="onSearch(search.value)">
                <mat-hint align="start">{{ 'notas.hint_buscar' | translate }}</mat-hint>
            </mat-form-field>
            <ng2-smart-table [settings]="settings" [source]="dataSource">
            </ng2-smart-table>
        </fieldset>
    </nb-card-body>
    <nb-card-footer></nb-card-footer>
</nb-card>