<nb-card [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="xxlarge"
nbSpinnerMessage="{{ 'GLOBAL.cargando' | translate }}">
    <nb-card-header>
        <div class="row" align="center">
            <div class="col">
                {{ 'asignaturas.notas_parciales' | translate }}
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div id="HtmlPdf" #HtmlPdf>
        <fieldset [ngClass]="{'fieldseter':true}">
            <legend> {{ 'asignaturas.info_estudiante' | translate }} </legend>
            <div class="container-estudiante">
            <div class="row d-flex align-items-end">
                <div class="col-lg-4">
                    <div class="row d-flex align-items-end">
                        <div class="col-sm-auto">
                            <label>{{ 'asignaturas.nombre' | translate }}: </label>
                        </div>
                        <div class="col-sm">
                            <label class="underline">{{InfoEstudiante.Nombre}}</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="row d-flex align-items-end">
                        <div class="col-sm-auto">
                            <label>{{ 'asignaturas.codigo_programa' | translate }}: </label>
                        </div>
                        <div class="col-sm">
                            <label class="underline">{{InfoEstudiante.Codigo_programa}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex align-items-end">
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-sm-auto">
                            <label>{{ 'asignaturas.identificacion' | translate }}: </label>
                        </div>
                        <div class="col-sm">
                            <label class="underline">{{InfoEstudiante.Identificacion}}</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="row">
                        <div class="col-sm-auto">
                            <label>{{ 'asignaturas.nombre_programa' | translate }}: </label>
                        </div>
                        <div class="col-sm">
                            <label class="underline">{{InfoEstudiante.Nombre_programa}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex align-items-end">
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-sm-auto">
                            <label>{{ 'asignaturas.codigo' | translate }}: </label>
                        </div>
                        <div class="col-sm">
                            <label class="underline">{{InfoEstudiante.Codigo}}</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="row">
                        <div class="col-sm-auto">
                            <label>{{ 'asignaturas.promedio' | translate }}: </label>
                        </div>
                        <div class="col-sm">
                            <label class="underline">EN DESARROLLO</label> <!-- {{InfoEstudiante.Promedio}} -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="row">
                        <div class="col-sm-auto">
                            <label>{{ 'asignaturas.periodo_academico' | translate }}: </label>
                        </div>
                        <div class="col-sm">
                            <label class="underline">{{InfoEstudiante.Periodo}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </fieldset>

        <br><br>

        <fieldset [ngClass]="{'fieldseter':true}" style="overflow:auto;">
            <legend> {{ 'asignaturas.list_notas_parciales' | translate }} </legend>
            <div class="container-estudiante">
<!--                 <nb-card>
                    <nb-card-body style="padding: 0rem;"> -->
            <ng2-smart-table [settings]="settings" [source]="dataSource">
            </ng2-smart-table>
<!--                     </nb-card-body>
                </nb-card> -->
            </div>
        </fieldset>
        </div>
    </nb-card-body>
    
    <br><br>

    <nb-card-footer>
        <fieldset [ngClass]="{'fieldseter':true}">
            <legend> {{ 'notas.reporte_captura_porcentajes' | translate }} </legend>
            <div class="row d-flex align-items-center" style="padding: 20px;">
                <div class="col-md-3" align="center"></div>
                <div class="col-md-3" align="center">
                    <button mat-flat-button color="primary" (click)='exportar()' [disabled]="deshabilit">{{ 'notas.export_Pdf' | translate }}</button>
                </div>
                <div class="col-md-3" align="center">
                    <button mat-flat-button color="primary" (click)='imprimir()' [disabled]="deshabilit">{{ 'notas.print_pdf' | translate }}</button>
                </div>
                <div class="col-md-3" align="center"></div>
            </div>
        </fieldset>
    </nb-card-footer>
</nb-card>