<div class="col-12">
  <nb-card style="margin: 0px; padding: 0px;">
    <nb-card-header>
      {{ 'solicitudes.solicitud_nombres' | translate }}
    </nb-card-header>
    <nb-card-body [nbSpinner]="loading"
                  nbSpinnerStatus="success"
                  nbSpinnerSize="xxlarge"
                  nbSpinnerMessage="{{ 'GLOBAL.cargando' | translate }}"
                  style="padding: 0px;">

      <ngx-datos-solicitante [solicitante]="solicitante"
                             style="padding: 0px;"
                             (cargado)="cargoDatos($event)">
      </ngx-datos-solicitante>


      <ngx-dinamicform [normalform]="solicitudForm"
                       [modeloData]="solicitudDatos"
                       (result)="enviarSolicitud($event)"
                       (resultAux)="habilitarRevision($event)"
                       style="padding: 0px;">
      </ngx-dinamicform>

      <div>
        <ngx-dinamicform [normalform]="respuestaSolicitudForm"
                         [modeloData]="solicitudRespuesta"
                         (result)="enviarRespuesta($event)"
                         *ngIf="Admin">
        </ngx-dinamicform>
      </div>
    </nb-card-body>
  </nb-card>
</div>
