<nb-card>
  <nb-card-body>
    <div class=col-12>
      <fieldset [ngClass]="{'fieldseter':true}" >
        <legend>
          &nbsp; {{ 'admision.cupos_proyectos' | translate }}
        </legend>

        <nb-card [hidden]="show_profile">
            <nb-card-header>
                <!-- select periodo -->
                <mat-form-field style="width: 40%;">
                    <mat-label>{{ 'calendario.periodo' | translate }}:</mat-label>
                    <mat-select [(ngModel)]="periodo" [disabled]='false'>
                        <mat-option>--Seleccionar--</mat-option>
                        <mat-option *ngFor="let item of periodos" [value]="item">
                            {{item.Nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- select Nivel -->
                <mat-form-field style="width: 100%;">
                    <mat-label>{{ 'GLOBAL.nivel' | translate }}:</mat-label>
                    <mat-select [formControl]="CampoControl"
                                [(ngModel)]="selectednivel"
                                (selectionChange)="loadProyectos()">
                        <mat-option>--Seleccionar--</mat-option>
                        <mat-option *ngFor="let item of niveles" [value]="item.Id">
                            {{item.Nombre}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="CampoControl.hasError('required')">{{ 'cupos.erro_selec_nivel' | translate }}</mat-error>
                </mat-form-field>

                <!-- select proyectos -->
                <mat-form-field style="width: 100%;">
                    <mat-label>{{ 'GLOBAL.proyecto_academico' | translate }}:</mat-label>
                    <mat-select [formControl]="Campo1Control"
                                [(ngModel)]="proyectos_selected"
                                (selectionChange)="perfil_editar('info_cupos')"
                                [disabled]='selectprograma'>
                        <mat-option *ngFor="let item of proyectos" [value]="item" [disabled]="!item.Id">
                            {{item.Nombre}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="Campo1Control.hasError('required')">
                      {{ 'cupos.erro_selec_proyecto' | translate }}
                    </mat-error>
                </mat-form-field>
                <br/><br/>

            </nb-card-header>

        </nb-card>

        <!--Formularios------------------------------------------------------------->
        <nb-card [hidden]="!show_cupos">
            <nb-card-body>
                <nb-tabset fullWidth>
                    <nb-tab tabTitle="{{ 'cupos.cupos' | translate }}" [active]="preinscripcion">
                        <ngx-crud-asignacion-cupo [info_proyectos]="this.proyectos_selected"
                                                  [info_periodo]="this.periodo"
                                                  [info_nivel]="this.esPosgrado">
                        </ngx-crud-asignacion-cupo>
                    </nb-tab>
                </nb-tabset>
            </nb-card-body>
        </nb-card>

      </fieldset>
    </div>
  </nb-card-body>
</nb-card>
