<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <mat-card [hidden]="show_profile ||
             show_info_pregrado ||
             show_acad_pregrado ||
             show_expe || show_proy ||
             show_prod || show_desc ||
             show_docu ||show_info ||
             show_acad || show_info_interna ||
             show_info_reingreso || show_info_externa ||
             show_acad_externa">
        <mat-card-title>

            <div class="col-12">
                {{ 'inscripcion.periodo' | translate }}: {{ this.inscripcion.PeriodoId }}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ 'inscripcion.nivel' | translate }}: {{ this.inscripcion.Nivel }}
            </div>
            <br/>
            <div class="col-12">
                {{ 'inscripcion.tipo' | translate }}: {{ this.inscripcion.TipoInscripcion }}
            </div>
            <br/>

            <mat-form-field style="width: 100%;">
                <mat-select [formControl]="Campo1Control"
                            [(ngModel)]="selectedValue"
                            placeholder="{{ 'inscripcion.aviso_programa' | translate }}"
                            (ngModelChange)="tipo_inscripcion()">
                    <mat-option>--Seleccionar--</mat-option>
                    <mat-option *ngFor="let item of posgrados" [value]="item.ProyectoId">
                      {{ item.NombreProyecto }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!--ngx-loading [hidden]="!loading"></ngx-loading-->

            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3" align="center"
                     id="info_basica" *ngIf="selectTipo=='Pregrado' && selectedValue ||
                     selectTipo=='Posgrado'|| selectTipo=='Transferencia interna'||
                     selectTipo=='Reingreso' || selectTipo=='Transferencia externa'||
                     selectTipo=='Transferencia externa'">
                    <mat-card class="exp-card" (click)="perfil_editar('info_persona')">
                        <mat-card-title>{{ 'inscripcion.info_basica' | translate }}</mat-card-title>
                        <mat-card-content class="icon-form">
                            <i class="fa fa-address-card-o fa-5x"></i>
                            <p class="percentage">{{percentage_info}} %</p>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3" align="center"
                     id="formacion_academica" *ngIf="selectTipo=='Pregrado' &&
                     selectedValue || selectTipo=='Posgrado' ||
                     selectTipo=='Transferencia externa'">
                    <mat-card class="exp-card" (click)="perfil_editar('formacion_academica')">
                        <mat-card-title>{{ 'inscripcion.formacion_academica' | translate }}</mat-card-title>
                        <mat-card-content class="icon-form">
                            <i class="fa fa-graduation-cap fa-5x"></i>
                            <p class="percentage">{{percentage_acad}} %</p>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3" align="center"
                     id="experiencia_laboral" *ngIf="selectTipo=='Posgrado' && selectedValue">
                    <mat-card class="exp-card" (click)="perfil_editar('experiencia_laboral')">
                        <mat-card-title>{{ 'inscripcion.experiencia_laboral' | translate }}</mat-card-title>
                        <mat-card-content class="icon-form">
                            <i class="fa fa-briefcase fa-5x"></i>
                            <p class="percentage">{{percentage_expe}} %</p>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3" align="center"
                     *ngIf="selectTipo=='Posgrado' && selectedValue" id="produccion_academica">
                    <mat-card class="exp-card" (click)="perfil_editar('produccion_academica')">
                        <mat-card-title>{{ 'inscripcion.produccion_academica' | translate }}</mat-card-title>
                        <mat-card-content class="icon-form">
                            <i class="fa fa-book fa-5x"></i>
                            <p class="percentage">{{percentage_prod}} %</p>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3" align="center"
                     *ngIf="selectTipo=='Posgrado' && selectedValue" id="documento_programa">
                    <mat-card class="exp-card" (click)="perfil_editar('documento_programa')">
                        <mat-card-title>{{ 'inscripcion.documento_programa' | translate }}</mat-card-title>
                        <mat-card-content class="icon-form">
                            <i class="fa fa-list-alt fa-5x"></i>
                            <p class="percentage">{{percentage_docu}} %</p>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3" align="center"
                     *ngIf="selectTipo=='Posgrado' && selectedValue" id="descuento_matricula">
                    <mat-card class="exp-card" (click)="perfil_editar('descuento_matricula')">
                        <mat-card-title>{{ 'inscripcion.descuento_matricula' | translate }}</mat-card-title>
                        <mat-card-content class="icon-form">
                            <i class="fa fa-dollar fa-5x"></i>
                            <p class="percentage">{{percentage_desc}} %</p>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3" align="center"
                     *ngIf="selectTipo=='Posgrado' && selectedValue" id="propuesta_grado">
                    <mat-card class="exp-card" (click)="perfil_editar('propuesta_grado')">
                        <mat-card-title>{{ 'inscripcion.propuesta_grado' | translate }}</mat-card-title>
                        <mat-card-content class="icon-form">
                            <i class="fa fa-file-pdf-o fa-5x"></i>
                            <p class="percentage">{{percentage_proy}} %</p>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3" align="center"
                     *ngIf="selectTipo=='Posgrado' && selectedValue">
                    <mat-card class="exp-card" (click)="perfil_editar('perfil')">
                        <mat-card-title>{{ 'inscripcion.perfil' | translate }}</mat-card-title>
                        <mat-card-content class="icon-form">
                            <i class="fa fa-user fa-5x"></i>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </mat-card-title>

        <mat-card-content class="example-items-rows trans text-center">
            <div class="col-md-12">
                <mat-progress-bar mode="determinated" color="primary" [value]="percentage_info">
                </mat-progress-bar>
                <blockquote class="blockquote">
                    <li>{{ 'inscripcion.aviso_progreso' | translate}}</li>
                </blockquote>
                <button mat-button class="item1"
                        [disabled]="total"
                        (click)="realizarInscripcion()">
                        {{ 'inscripcion.inscribirse' | translate }}
                </button>
            </div>
        </mat-card-content>
    </mat-card>

    <!--Formularios------------------------------------------------------------->


    <!-- <mat-card [hidden]="!show_info_pregrado"> -->
    <!--nb-card *ngIf="show_info_pregrado">
        <mat-card-content>
            <div class="row">
                <div class="col-md-11">
                    <ngb-progressbar showValue="true" type="success" [value]="percentage_info" [animated]="true" [height]="'15px'"></ngb-progressbar>
                </div>
                <div class="col-md-1" align="right">
                    <button class="btn btn-danger btn-icon input-group-text btn-tn" (click)="show_profile=false; show_info_pregrado=false; show_acad=false;
            show_expe=false; show_proy=false; show_prod=false; show_docu=false;
            show_desc=false;">X</button>
                </div>
            </div>
            <mat-tab-group fullWidth-->
                <!-- <mat-tab label="{{ 'inscripcion.info_persona' | translate }}" [selectedIndex]="info_persona">
                    <ngx-crud-info-persona info_persona_id={{this.info_persona_id}} inscripcion_id={{this.inscripcion_id}} (eventChange)="perfil_editar('info_caracteristica')" >
                    </ngx-crud-info-persona>
                </mat-tab> -->
                <!--mat-tab label="{{ 'inscripcion.info_caracteristica' | translate }}" [selectedIndex]="info_caracteristica">
                    <ngx-crud-info-caracteristica_pregrado info_caracteristica_id={{this.info_persona_id}} (eventChange)="perfil_editar('info_contacto')" (result)="setPercentage_info($event,1)">
                    </ngx-crud-info-caracteristica_pregrado>
                </mat-tab>
                <mat-tab label="{{ 'inscripcion.informacion_contacto' | translate }}" [selectedIndex]="info_contacto">
                    <ngx-crud-informacion-contacto_pregrado informacion_contacto_id={{this.info_persona_id}} (eventChange)="perfil_editar('info_familiar')" (result)="setPercentage_info($event,2)">
                    </ngx-crud-informacion-contacto_pregrado>
                </mat-tab>
                <mat-tab label="{{ 'inscripcion.informacion_familiar' | translate }}" [selectedIndex]="info_familiar">
                    <ngx-crud-informacion-familiar info_persona_id={{this.info_persona_id}} (eventChange)="perfil_editar('default')" (result)="setPercentage_info($event,3)">
                    </ngx-crud-informacion-familiar>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </nb-card-->

    <!-- <mat-card [hidden]="!show_info_externa"> -->
    <mat-card *ngIf="show_info_externa">
        <mat-card-content>
            <div class="row">
                <div class="col-md-11">
                    <mat-progress-bar mode="determinated" color="primary" [value]="percentage_info">
                    </mat-progress-bar>
                </div>
                <div class="col-md-1" align="right">
                    <button class="btn btn-danger btn-icon input-group-text btn-tn"
                            (click)="show_profile=false; show_info_pregrado=false;
                            show_acad=false; show_expe=false; show_proy=false;
                            show_prod=false; show_docu=false; show_info_externa=false;
                            show_desc=false; mostrarBarraExterna();">X
                    </button>
                </div>
            </div>
            <mat-tab-group fullWidth>
                <!-- <mat-tab label="{{ 'inscripcion.info_persona' | translate }}" [selectedIndex]="info_persona">
                    <ngx-crud-info-persona info_persona_id={{this.info_ente_id}} inscripcion_id={{this.inscripcion_id}} (eventChange)="perfil_editar('info_caracteristica')" >
                    </ngx-crud-info-persona>
                </mat-tab> -->
                <mat-tab label="{{ 'inscripcion.info_caracteristica' | translate }}">
                    <ngx-crud-info-caracteristica_pregrado info_caracteristica_id={{this.info_ente_id}}
                                                           (eventChange)="perfil_editar('info_contacto')"
                                                           (result)="setPercentage_info($event,1)">
                    </ngx-crud-info-caracteristica_pregrado>
                </mat-tab>
                <mat-tab label="{{ 'inscripcion.informacion_contacto' | translate }}">
                    <ngx-crud-informacion-contacto_externa informacion_contacto_id={{this.info_ente_id}}
                                                           (eventChange)="perfil_editar('default')"
                                                           (result)="setPercentage_info($event,2)">
                    </ngx-crud-informacion-contacto_externa>
                </mat-tab>
                <mat-tab label="{{ 'inscripcion.informacion_familiar' | translate }}">
                    <ngx-crud-informacion-familiar (eventChange)="perfil_editar('default')"
                                                   (result)="setPercentage_info($event,3)">
                    </ngx-crud-informacion-familiar>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>

    <!-- <mat-card [hidden]="!show_info"> -->
    <mat-card *ngIf="show_info">
        <mat-card-content>
            <div class="row">
                <div class="col-md-11">
                    <mat-progress-bar mode="determinated" color="primary" [value]="percentage_info" [hidden]="isBarraOculta">
                    </mat-progress-bar>
                </div>
                <div class="col-md-1" align="right">
                    <button class="btn btn-danger btn-icon input-group-text btn-tn"
                            (click)="show_profile=false; show_info=false; show_acad=false;
                            show_expe=false; show_proy=false; show_prod=false; show_docu=false;
                            show_desc=false; showRegreso=true; mostrarBarraExterna();">X
                    </button>
                </div>
            </div>
            <mat-tab-group fullWidth>
                <!-- <mat-tab label="{{ 'inscripcion.info_persona' | translate }}" [selectedIndex]="info_persona">
                    <ngx-crud-info-persona info_persona_id={{this.info_ente_id}} inscripcion_id={{this.inscripcion_id}} (eventChange)="perfil_editar('info_caracteristica')" >
                    </ngx-crud-info-persona>
                </mat-tab> -->
                <mat-tab label="{{ 'inscripcion.info_caracteristica' | translate }}">
                    <ngx-crud-info-caracteristica info_caracteristica_id={{this.info_ente_id}}
                                                  (eventChange)="perfil_editar('info_contacto')"
                                                  (result)="setPercentage_info($event,1)">
                    </ngx-crud-info-caracteristica>
                </mat-tab>
                <mat-tab label="{{ 'inscripcion.informacion_contacto' | translate }}">
                    <ngx-crud-informacion-contacto informacion_contacto_id={{this.info_ente_id}}
                                                   (eventChange)="perfil_editar('default')"
                                                   (result)="setPercentage_info($event,2)">
                    </ngx-crud-informacion-contacto>
                </mat-tab>
                <!--mat-tab label="{{ 'inscripcion.informacion_familiar' | translate }}">
                    <ngx-crud-informacion-familiar (eventChange)="perfil_editar('default')" (result)="setPercentage_info($event,3)">
                    </ngx-crud-informacion-familiar>
                </mat-tab-->
            </mat-tab-group>
        </mat-card-content>
    </mat-card>


    <!-- <mat-card [hidden]="!show_info_reingreso"> -->
    <mat-card *ngIf="show_info_reingreso">
        <mat-card-content>
            <div class="row">
                <div class="col-md-11">
                    <mat-progress-bar mode="determinated" color="primary" [value]="percentage_info">
                    </mat-progress-bar>
                </div>
                <div class="col-md-1" align="right">
                    <button class="btn btn-danger btn-icon input-group-text btn-tn"
                            (click)="show_profile=false; show_info=false; show_acad=false; show_expe=false;
                            show_proy=false; show_prod=false; show_docu=false; show_info_reingreso=false;
                            show_desc=false; showRegreso=true; mostrarBarraExterna();">X
                    </button>
                </div>
            </div>
            <mat-tab-group fullWidth [selectedIndex]="info_persona">
                <mat-tab label="{{ 'inscripcion.reingreso' | translate }}" >
                    <ngx-crud-reingreso (result)="setPercentage_acad($event,0)"></ngx-crud-reingreso>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>


    <!-- <mat-card [hidden]="!show_info_interna"> -->
    <mat-card *ngIf="show_info_interna">
        <mat-card-content>
            <div class="row">
                <div class="col-md-11">
                    <mat-progress-bar mode="determinated" color="primary" [value]="percentage_info">
                    </mat-progress-bar>
                </div>
                <div class="col-md-1" align="right">
                    <button class="btn btn-danger btn-icon input-group-text btn-tn"
                            (click)="show_profile=false; show_info=false; show_acad=false;
                            show_expe=false; show_proy=false; show_prod=false; show_docu=false; show_info_interna=false;
                            show_desc=false; showRegreso=true; mostrarBarraExterna();">X
                    </button>
                </div>
            </div>
            <mat-tab-group fullWidth [selectedIndex]="info_persona">
                <mat-tab label="{{ 'inscripcion.transfe' | translate }}" >
                    <ngx-crud-transferencia_interna (result)="setPercentage_acad($event,0)"></ngx-crud-transferencia_interna>
                </mat-tab>

            </mat-tab-group>
        </mat-card-content>
    </mat-card>
    <!-- TAG y formularios de formacion academica -->


    <!-- <mat-card [hidden]="!show_acad_pregrado"> -->
    <mat-card *ngIf="show_acad_pregrado">
        <mat-card-content>
            <div class="row">
                <div class="col-md-11">
                    <mat-progress-bar mode="determinated" color="primary" [value]="percentage_acad">
                    </mat-progress-bar>
                </div>
                <div class="col-md-1" align="right">
                    <button class="btn btn-danger btn-icon input-group-text btn-tn"
                            (click)="show_profile=false; show_info_pregrado=false; show_acad_pregrado=false;
                            show_expe=false; show_proy=false; show_prod=false; show_docu=false;
                            show_desc=false; showRegreso=true; mostrarBarraExterna();">X
                    </button>
                </div>
            </div>

            <mat-tab-group fullWidth (changeTab)="selectTab($event)">
                <mat-tab label="{{ 'inscripcion.icfes' | translate }}" active=true>
                    <ngx-crud-icfes info_persona_id={{this.info_persona_id}} (result)="setPercentage_acad($event,0)"></ngx-crud-icfes>
                </mat-tab>
                <mat-tab label="{{ 'inscripcion.universidad' | translate }}">
                    <ngx-crud-preguntas info_formacion_academica_id={{this.info_persona_id}} (result)="setPercentage_acad($event,0)"></ngx-crud-preguntas>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>


    <!-- <mat-card [hidden]="!show_acad_externa"> -->
    <mat-card *ngIf="show_acad_externa">
        <mat-card-content>
            <div class="row">
                <div class="col-md-11">
                    <mat-progress-bar mode="determinated" color="primary" [value]="percentage_acad">
                    </mat-progress-bar>
                </div>
                <div class="col-md-1" align="right">
                    <button class="btn btn-danger btn-icon input-group-text btn-tn"
                            (click)="show_profile=false; show_info_pregrado=false; show_acad_pregrado=false;
                            show_expe=false; show_proy=false; show_prod=false; show_docu=false;
                            show_acad_externa=false; show_desc=false; showRegreso=true; mostrarBarraExterna();">X
                    </button>
                </div>
            </div>
            <mat-tab-group fullWidth (changeTab)="selectTab($event)">
                <mat-tab label="{{ 'inscripcion.transferencia' | translate }}" active=true>
                    <ngx-crud-externo (result)="setPercentage_acad($event,0)"></ngx-crud-externo>
                </mat-tab>
                <mat-tab label="{{ 'inscripcion.icfes' | translate }}">
                    <!--ngx-crud-icfes_externo (result)="setPercentage_acad($event,0)"></ngx-crud-icfes_externo-->
                    <ngx-crud-icfes (result)="setPercentage_acad($event,0)"></ngx-crud-icfes>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>


    <!-- <mat-card [hidden]="!show_acad"> -->
    <mat-card *ngIf="show_acad">
        <mat-card-content>
            <div class="row">
                <div class="col-md-11">
                    <mat-progress-bar mode="determinated" color="primary" [value]="percentage_acad">
                    </mat-progress-bar>
                </div>
                <div class="col-md-1" align="right">
                    <button class="btn btn-danger btn-icon input-group-text btn-tn"
                            (click)="show_profile=false; show_info=false; show_acad=false;
                            show_expe=false; show_proy=false; show_prod=false; show_docu=false;
                            show_desc=false; showRegreso=true; mostrarBarraExterna();">X
                    </button>
                </div>
            </div>

            <mat-tab-group fullWidth (changeTab)="selectTab($event)">

                <mat-tab label="{{ 'inscripcion.formacion_academica' | translate }}" active=true>
                    <ngx-list-formacion-academica (result)="setPercentage_acad($event,0)"></ngx-list-formacion-academica>
                </mat-tab>
                <mat-tab label="{{ 'inscripcion.idiomas' | translate }}">
                    <ngx-list-idiomas (result)="setPercentage_acad($event,1)"
                                      (bridge_create_inscripcion)="create_inscription($event)"
                                      inscripcion_id="{{this.inscripcion_id}}">
                    </ngx-list-idiomas>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>


    <!-- <mat-card [hidden]="!show_expe"> -->
    <mat-card *ngIf="show_expe">
        <mat-card-content>
            <div class="row">
                <div class="col-md-11">
                    <mat-progress-bar mode="determinated" color="primary" [value]="percentage_expe">
                    </mat-progress-bar>
                </div>
                <div class="col-md-1" align="right">
                    <button class="btn btn-danger btn-icon input-group-text btn-tn"
                            (click)="show_profile=false; show_info=false; show_acad=false;
                            show_expe=false; show_proy=false; show_prod=false; show_docu=false;
                            show_desc=false; showRegreso=true; mostrarBarraExterna();">X
                    </button>
                </div>
            </div>
            <mat-tab-group fullWidth>
                <mat-tab label="{{ 'inscripcion.experiencia_laboral' | translate }}" [selectedIndex]=true>
                    <ngx-list-experiencia-laboral ente_id="{{this.info_ente_id}}" (result)="setPercentage_expe($event,0)">
                    </ngx-list-experiencia-laboral>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>

    <!-- <mat-card [hidden]="!show_prod"> -->
    <mat-card *ngIf="show_prod">
        <mat-card-content>
            <div class="row">
                <div class="col-md-11">
                    <mat-progress-bar mode="determinated" color="primary" [value]="percentage_prod">
                    </mat-progress-bar>
                </div>
                <div class="col-md-1" align="right">
                    <button class="btn btn-danger btn-icon input-group-text btn-tn"
                            (click)="show_profile=false; show_info=false; show_acad=false;
                            show_expe=false; show_proy=false; show_prod=false; show_docu=false;
                            show_desc=false; showRegreso=true; mostrarBarraExterna();">X
                    </button>
                </div>
            </div>
            <mat-tab-group fullWidth (changeTab)="selectTab($event)">
                <mat-tab label="{{ 'produccion_academica.producciones_academicas' | translate }}">
                    <ngx-list-produccion-academica (result)="setPercentage_prod($event,0)">
                    </ngx-list-produccion-academica>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>

    <!-- <mat-card [hidden]="!show_docu"> -->
    <mat-card *ngIf="show_docu">
        <mat-card-content>
            <div class="row">
                <div class="col-md-11">
                    <mat-progress-bar mode="determinated" color="primary" [value]="percentage_docu">
                    </mat-progress-bar>
                </div>
                <div class="col-md-1" align="right">
                    <button class="btn btn-danger btn-icon input-group-text btn-tn"
                            (click)="show_profile=false; show_info=false; show_acad=false;
                            show_expe=false; show_proy=false; show_prod=false; show_docu=false;
                            show_desc=false; showRegreso=true; mostrarBarraExterna();">X
                    </button>
                </div>
            </div>
            <mat-tab-group fullWidth (changeTab)="selectTab($event)">
                <mat-tab label="{{ 'inscripcion.documento_programa' | translate }}">
                    <ngx-list-documento-programa (result)="setPercentage_docu($event,0)"
                                                 persona_id="{{this.info_persona_id}}"
                                                 inscripcion_id="{{this.inscripcion_id}}">
                    </ngx-list-documento-programa>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>

    <!-- <mat-card [hidden]="!show_desc"> -->
    <mat-card *ngIf="show_desc">
        <mat-card-content>
            <div class="row">
                <div class="col-md-11">
                    <mat-progress-bar mode="determinated" color="primary" [value]="percentage_desc">
                    </mat-progress-bar>
                </div>
                <div class="col-md-1" align="right">
                    <button class="btn btn-danger btn-icon input-group-text btn-tn"
                            (click)="show_profile=false; show_info=false; show_acad=false;
                            show_expe=false; show_proy=false; show_prod=false; show_docu=false;
                            show_desc=false; showRegreso=true; mostrarBarraExterna();">X
                    </button>
                </div>
            </div>
            <mat-tab-group fullWidth (changeTab)="selectTab($event)">
                <mat-tab label="{{ 'inscripcion.descuento_matricula' | translate }}">
                    <ngx-list-descuento-academico (result)="setPercentage_desc($event,0)"
                                                  persona_id="{{this.info_persona_id}}"
                                                  inscripcion_id="{{this.inscripcion_id}}">
                    </ngx-list-descuento-academico>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>

    <!-- <mat-card [hidden]="!show_proy"> -->
    <mat-card *ngIf="show_proy">
        <mat-card-content>
            <div class="row">
                <div class="col-md-11">
                    <mat-progress-bar mode="determinated" color="primary" [value]="percentage_proy">
                    </mat-progress-bar>
                </div>
                <div class="col-md-1" align="right">
                    <button class="btn btn-danger btn-icon input-group-text btn-tn"
                            (click)="show_profile=false; show_info=false; show_acad=false;
                            show_expe=false; show_proy=false; show_prod=false; show_docu=false;
                            show_desc=false; showRegreso=true; mostrarBarraExterna();">X
                    </button>
                </div>
            </div>
            <mat-tab-group fullWidth (changeTab)="selectTab($event)">
                <mat-tab label="{{ 'inscripcion.propuesta_grado' | translate }}">
                    <ngx-crud-propuesta-grado (result)="setPercentage_proy($event,0)"
                                              persona_id="{{this.info_ente_id}}"
                                              inscripcion_id="{{this.inscripcion_id}}"
                                              (crear_inscripcion)="create_inscription($event)">
                    </ngx-crud-propuesta-grado>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>

    <!--Vista de perfil------------------------------------------------------------->

    <!-- <div [hidden]="!show_profile"> -->
    <div *ngIf="show_profile">
        <ngx-perfil (url_editar)="perfil_editar($event)"
                    info_persona_id="{{this.info_persona_id}}"
                    inscripcion_id="{{this.inscripcion_id}}"
                    imprimir="{{this.imprimir}}">
        </ngx-perfil>
    </div>
    <div *ngIf="showRegreso">
        <button (click)="activateTab()" class="btn btn-info btn-sm">
          <i class="nb-arrow-dropleft"></i> {{ 'GLOBAL.regresar' | translate }}
      </button>
    </div>
</div>
