<nb-card>
    <nb-card-header>
        {{ 'notas.captura_notas_parciales' | translate }}
    </nb-card-header>
    <nb-card-body>
        <fieldset [ngClass]="{'fieldseter':true} ">
            <legend> {{ 'notas.carga_academica' | translate }} </legend>
            <div class="container-notes">
                <ngx-note-percentage (formObservable)="formSettings1($event)" [settings]="settings1"></ngx-note-percentage>
                <ngx-note-percentage (formObservable)="formSettings2($event)" [settings]="settings2"></ngx-note-percentage>
                <ngx-note-percentage (formObservable)="formSettings3($event)" [settings]="settings3"></ngx-note-percentage>
                <ngx-note-percentage (formObservable)="formSettings4($event)" [settings]="settings4"></ngx-note-percentage>
                <div class="container-form">
                    <h5> Total </h5>
                    <h3>{{totalPercentage}}</h3>
                </div>
            </div>
        </fieldset>
    </nb-card-body>
</nb-card>
