<nb-card [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="xxlarge"
nbSpinnerMessage="{{ 'GLOBAL.cargando' | translate }}">

    <nb-card-header>
        {{ 'notas.captura_notas_parciales' | translate }}
    </nb-card-header>

    <nb-card-body>
        <div id="HtmlPdf" #HtmlPdf>

        <fieldset [ngClass]="{'fieldseter':true}">
            <legend> {{ 'notas.registro_notas_parciales' | translate }} </legend>
            <div class="container-docente">
                <div class="row d-flex align-items-end fila">
                    <div class="col-lg-4">
                        <div class="row d-flex align-items-end">
                            <div class="col-sm-auto">
                                <label>{{ 'notas.docente' | translate }}: </label>
                            </div>
                            <div class="col-sm">
                                <label class="underline">{{dataDocente.Docente}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row d-flex align-items-end">
                            <div class="col-sm-auto">
                                <label>{{ 'notas.identificacion' | translate }}: </label>
                            </div>
                            <div class="col-sm">
                                <label class="underline">{{dataDocente.Identificacion}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex align-items-end fila">
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-sm-auto">
                                <label>{{ 'notas.codigo' | translate }}: </label>
                            </div>
                            <div class="col-sm">
                                <label class="underline">{{dataDocente.Codigo}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-sm-auto">
                                <label>{{ 'notas.asignatura' | translate }}: </label>
                            </div>
                            <div class="col-sm">
                                <label class="underline">{{dataDocente.Asignatura}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-sm-auto">
                                <label>{{ 'notas.nivel' | translate }}: </label>
                            </div>
                            <div class="col-sm">
                                <label class="underline">{{dataDocente.Nivel}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex align-items-end fila">
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-sm-auto">
                                <label>{{ 'notas.grupo' | translate }}: </label>
                            </div>
                            <div class="col-sm">
                                <label class="underline">{{dataDocente.Grupo}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="row">
                            <div class="col-sm-auto">
                                <label>{{ 'notas.inscritos' | translate }}: </label>
                            </div>
                            <div class="col-sm">
                                <label class="underline">{{dataDocente.Inscritos}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="row">
                            <div class="col-sm-auto">
                                <label>{{ 'notas.creditos' | translate }}: </label>
                            </div>
                            <div class="col-sm">
                                <label class="underline">{{dataDocente.Creditos}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-sm-auto">
                                <label>{{ 'notas.periodo' | translate }}: </label>
                            </div>
                            <div class="col-sm">
                                <label class="underline">{{dataDocente.Periodo}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    

        <br><br>

        <fieldset [ngClass]="{'fieldseter':true} ">
            <legend> {{ 'notas.captura_porcentajes' | translate }} </legend>
            <div *ngIf="cajaPorcentajesVer" class="container-notes">
                <div class="row">
                    <div class="container-form-wrap">
                        <div class="row">
                            <ngx-note-percentage (formObservable)="editCorte1($event)" [settings]="Corte1">
                            </ngx-note-percentage>
                            <ngx-note-percentage (formObservable)="editCorte2($event)" [settings]="Corte2">
                            </ngx-note-percentage>
                            <ngx-note-percentage (formObservable)="editExamen($event)" [settings]="Examen">
                            </ngx-note-percentage>
                        </div>
                    </div>
                    <div class="container-form-wrap">
                        <div class="row">
                            <ngx-note-percentage (formObservable)="editHabilit($event)" [settings]="Habilit">
                            </ngx-note-percentage>
                        </div>
                    </div>
                    <div class="container-form-wrap">
                        <div class="row">
                            <div class="container-form">
                                <strong> Total </strong>
                                    <div class="container-percentage">
                                    <mat-form-field>
                                        <mat-label>Total %</mat-label>
                                        <input matInput readonly type="number" value="{{totalPercentage}}">
                                    </mat-form-field>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row d-flex align-items-center">
                <div class="col-md" align="center">
                    <button [disabled]="!GuardarEstructuraNota" mat-flat-button color="primary"
                        (click)='save_P()'>{{ 'notas.guardar' | translate }}</button>
                </div>
            </div>
        </fieldset>

     
    

        <br><br>
        <fieldset [ngClass]="{'fieldseter':true}" style="overflow:auto;">
            <legend> {{ 'notas.captura_notas' | translate }} </legend>
            <!-- <nb-card>
                <nb-card-body style="padding: 0rem;"> -->
        <ng2-smart-table [settings]="settings" [source]="dataSource">
        </ng2-smart-table>

        <br><br>

        <div class="row d-flex align-items-center" style="padding: 20px;">
            <div class="col-md-3" align="center"></div>
            <div class="col-md-3" align="center">
                <button mat-flat-button color="primary" (click)="save_N()">{{ 'notas.guardar' | translate }}</button>
            </div>
            <div class="col-md-3" align="center">
                <button mat-flat-button color="primary" (click)="cancel_N()">{{ 'notas.cancelar' | translate }}</button>
            </div>
            <div class="col-md-3" align="center"></div>
        </div>
                <!-- </nb-card-body>
            </nb-card> -->
        </fieldset>
    </div>  
        
    </nb-card-body>

    <br><br>

    <nb-card-footer>
        <fieldset [ngClass]="{'fieldseter':true}">
            <legend> {{ 'notas.reporte_captura_porcentajes' | translate }} </legend>
            <div class="row d-flex align-items-center" style="padding: 20px;">
                <div class="col-md-3" align="center"></div>
                <div class="col-md-3" align="center">
                    <button mat-flat-button color="primary" (click)='exportar()'>{{ 'notas.export_Pdf' | translate }}</button>
                </div>
                <div class="col-md-3" align="center">
                    <button mat-flat-button color="primary" (click)='imprimir()'>{{ 'notas.print_pdf' | translate }}</button>
                </div>
                <div class="col-md-3" align="center"></div>
            </div>
        </fieldset>
    </nb-card-footer>
</nb-card>
