<div class="dinamic-form" *ngIf="calendar !== undefined">
    <nb-card [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="xxlarge" nbSpinnerMessage="{{ 'GLOBAL.cargando' | translate }}">
        <fieldset [ngClass]="{'fieldseter':true} ">
            <legend>
                <!-- {{ 'calendario.calendario_academico' | translate}} -->
                {{ calendar.Nombre }}
            </legend>
            <div class="col-12">
                <nb-card>
                    <nb-card-body>
                        <form novalidate class="form-horizontal">
                            <div class="row my-2" *ngIf="calendar.ListaCalendario != undefined">
                                <div class="col-5">
                                    <mat-form-field style="width: 100%;" floatLabel="always">
                                        <mat-select placeholder="Seleccione la versión del calendario">
                                            <mat-option>--Seleccionar--</mat-option>
                                            <mat-option *ngFor="let listCal of calendar.ListaCalendario" (click)="cambiarCalendario(listCal.Id)" [value]="listCal.Id">
                                                {{ listCal.Nombre }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-12">
                                {{ 'calendario.calendario_resolucion' | translate }} : {{ calendar.resolucion }} del año {{ calendar.anno }}
                                <button mat-button type="button" (click)="downloadFile(calendar.resolucion.Id)">    
                                <i class="fa fa-cloud-download" aria-hidden="true" ></i>
                            </button>
                            </div>
                            <div class="col-12">
                                <mat-tab-group>
                                    <mat-tab label="{{ 'calendario.actividades' | translate }}">
                                        <!-- <ng-container *ngFor="let periodo of processes"> -->
                                        <mat-expansion-panel *ngFor="let proceso of processes">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    {{ proceso.Nombre }}
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <ng2-smart-table [settings]="activitiesSettings" [source]="proceso.actividades" (custom)="onActionActivity($event, proceso)"></ng2-smart-table>
                                        </mat-expansion-panel>
                                        <!-- </ng-container> -->
                                    </mat-tab>
                                </mat-tab-group>
                            </div>
                        </form>
                    </nb-card-body>
                </nb-card>
            </div>
        </fieldset>
    </nb-card>
    <br>
    <button (click)="activateTab()" class="btn btn-info btn-sm"> <i class="nb-arrow-dropleft"></i> {{ 'GLOBAL.regresar' | translate }}</button>
</div>