<mat-card>
    <mat-card-content>
        <ng2-smart-table [settings]="settings"
                        [source]="source"
                        (delete)="onDelete($event)"
                        (rowSelect)="itemselec($event)"
                        (edit)="onEdit($event)"
                        (create)="onCreate($event)">
        </ng2-smart-table>
        <ngx-crud-formacion-academica
                        [info_formacion_academica_id]="uid"
                        [info_proyecto_id]="pid"
                        [edit_status]="UpdateInfo"
                        (eventChange)="onChange($event)"
                        (result)="getPercentage($event)"
                        (updateFormacion)="ngOnInit()">
        </ngx-crud-formacion-academica>
    </mat-card-content>
</mat-card>
