<div class="col-12">
  <nb-card>
    <nb-card-header>
      {{ 'practicas_academicas.titulo' | translate }}
    </nb-card-header>
    <nb-card-body>
      <form class="dinamic-form" novalidate [formGroup]="formDocente">
        <fieldset [ngClass]="{'fieldseter':true} ">
          <legend>
            {{ 'practicas_academicas.solicitante' | translate }}
          </legend>
          <div class="row">
            <div class="col-12 col-md-4">
              <mat-form-field style="width: 100%;">
                <input matInput type="text" formControlName="NombreDocente"
                  placeholder="{{ 'practicas_academicas.nombre' | translate}}" />
              </mat-form-field>
            </div>
            <div class="col-12 col-md-4">
              <mat-form-field style="width: 100%;">
                <input matInput type="text" formControlName="NumeroDocumento"
                  placeholder="{{ 'GLOBAL.numero_documento' | translate}}" />
              </mat-form-field>
            </div>
            <div class="col-12 col-md-4">
              <mat-form-field style="width: 100%;">
                <input matInput type="text" formControlName="EstadoDocente"
                  placeholder="{{ 'practicas_academicas.estado_docente' | translate}}" />
              </mat-form-field>
            </div>
          </div>
        </fieldset>
      </form>

      <ngx-dinamicform [normalform]="FormPracticasAcademicas" [modeloData]="InfoPracticasAcademicas"></ngx-dinamicform>

      <div class="files-container" *ngFor="let file of files">
        <ngx-download-file-nuxeo [idDoc]="file.id" [label]="file.label"></ngx-download-file-nuxeo> 
      </div>

      <mat-accordion *ngIf="['news', 'process'].includes(process)" >
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Estados
            </mat-panel-title>
            <mat-panel-description>
              Ver listado de estados
            </mat-panel-description>
          </mat-expansion-panel-header>

          <ng2-smart-table [settings]="tablaEstados" [source]="estadosSolicitud" (custom)="verEstado($event)" ></ng2-smart-table>

        </mat-expansion-panel>

      </mat-accordion>

      <mat-accordion *ngIf="['invitation'].includes(process)" >
        <button>Enviar Invitación</button>

      </mat-accordion>

      <div class="row">
        <div class="col-12">
          <!-- 
            Aqui se manejaria la opcion de historico y opciones de aprobacion e informe dependiendo del estado de la solicitud
            Se sugiere usar un ngSwitch para mostrar diferentes opciones segun el estado
          -->
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>