<div class="col-12">
  <nb-card [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="xxlarge"
    nbSpinnerMessage="{{ 'GLOBAL.cargando' | translate }}">

    <nb-card-header>
      {{ 'practicas_academicas.titulo' | translate }}
    </nb-card-header>

    <nb-card-body>
      <ngx-solicitante-practica (loading)="changeLoading($event)" [docentesSolicitud]="InfoDocentes" [process]="false">
      </ngx-solicitante-practica>
      <ngx-dinamicform [normalform]="FormPracticasAcademicas" [modeloData]="InfoPracticasAcademicas"></ngx-dinamicform>
      <!-- <ngx-dinamicform *ngIf="['process'].includes(process)" [normalform]="formDocumentosAdicionales"></ngx-dinamicform> -->

      <div class="files-container">
        <ngx-download-file-nuxeo (loading)="changeLoading($event)" *ngFor="let file of files" [idDoc]="file.id"
          [label]="file.label">
        </ngx-download-file-nuxeo>
      </div>

      <div class="row col-12" *ngIf="['news', 'process'].includes(process)">
        <div class="row col-6">
          <div class="col-6">
            <label>{{ 'practicas_academicas.fecha_radicacion' | translate }}</label>
          </div>
          <div class="col-6">
            <span class="form-control"> {{fechaRadicado}} </span>
          </div>
        </div>
        <div class="row col-6">
          <div class="col-6">
            <label>{{ 'practicas_academicas.estado_actual' | translate }}</label>
          </div>
          <div class="col-6">
            <span class="form-control"> {{estado}} </span>
          </div>
        </div>
      </div>
      <br>
      <mat-accordion *ngIf="['news', 'process'].includes(process)">
        <mat-expansion-panel>
          <mat-expansion-panel-header style="background: gainsboro; border: 1px solid var(--primary);">
            <mat-panel-title>
              {{ 'practicas_academicas.estados' | translate }}
            </mat-panel-title>
            <mat-panel-description>
              {{ 'practicas_academicas.ver_listado_estados' | translate }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <br>
          <ng2-smart-table [settings]="tablaEstados" [source]="estadosSolicitud" (custom)="verEstado($event)">
          </ng2-smart-table>

        </mat-expansion-panel>

      </mat-accordion>

      <div class="send-invitation" *ngIf="['invitation'].includes(process)">
        <button class="btn btn-success" (click)="enviarInvitacion()">
          {{ 'practicas_academicas.enviar_invitacion' | translate }}
        </button>
      </div>

      <div *ngIf="estado!='Ejecutada'">
        <ngx-dinamicform *ngIsGranted="['COORDINADOR', 'COORDINADOR_PREGADO', 'COORDINADOR_POSGRADO']"
          [normalform]="formRespuestaSolicitud" [modeloData]="InfoPersona" (result)="enviarSolicitud($event)">
        </ngx-dinamicform>
      </div>

      <div *ngIf="estado=='Acta aprobada' && !['invitation'].includes(process)">
        <ngx-dinamicform *ngIsGranted="['DOCENTE']" [normalform]="formDocumentosAdicionalesLegalizacion"
          [modeloData]="Legalizacion" (result)="enviarLegalizacion($event)">
        </ngx-dinamicform>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <div class="text-center">
        <button mat-button type="button" (click)="goback()">
          {{ 'GLOBAL.regresar' | translate }}
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</div>