<nb-card>
  <nb-card-body>
    <div class=col-12>
      <fieldset [ngClass]="{'fieldseter':true}" >
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="showTab">
          <nb-card [hidden]="show_profile || show_icfes ">
              <nb-card-header>
                <!-- select periodo -->
                <mat-form-field style="width: 35%;">
                  <mat-label>{{ 'admision.aviso_periodo' | translate }}:</mat-label>
                  <mat-select [(ngModel)]="periodo" [disabled]='true'>
                    <mat-option *ngFor="let item of periodos" [value]="item"> {{item.Nombre}} </mat-option>
                  </mat-select>
                </mat-form-field>
      
                <!-- select Nivel -->
                <mat-form-field style="width: 100%;">
                  <mat-label>{{ 'admision.aviso_nivel' | translate }}:</mat-label>
                  <mat-select [formControl]="CampoControl" [(ngModel)]="selectednivel" (selectionChange)="loadProyectos()" >
                    <mat-option>--Seleccionar--</mat-option>
                    <mat-option *ngFor="let item of nivel_load" [value]="item.Id"> {{item.Nombre}} </mat-option>
                  </mat-select>
                  <mat-error *ngIf="CampoControl.hasError('required')">{{ 'admision.erro_selec_nivel' | translate }}</mat-error>
                </mat-form-field>
      
                <!-- select proyectos -->
                <mat-form-field style="width: 100%;">
                  <mat-label>{{ 'admision.aviso_proyecto' | translate }}:</mat-label>
                  <mat-select [formControl]="Campo1Control" [(ngModel)]="proyectos_selected" (selectionChange)="activeCriterios()" [disabled]='selectprograma' multiple>
                    <mat-option *ngFor="let item of proyectos" [value]="item.Id">{{item.Nombre}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="Campo1Control.hasError('required')">{{ 'admision.erro_selec_proyecto' | translate }}</mat-error>
                </mat-form-field>
      
                <!-- select criterios -->
                <mat-form-field style="width: 100%;">
                  <mat-label>{{ 'admision.aviso_criterios' | translate }}:</mat-label>
                  <mat-select [formControl]="Campo2Control" [(ngModel)]="criterio_selected"  (selectionChange)="viewtab()" [disabled]='selectcriterio' multiple>
                    <mat-option *ngFor="let item of criterios" [value]="item.Id">{{item.Nombre}}</mat-option>
                </mat-select>
                <mat-error *ngIf="Campo2Control.hasError('required')">{{ 'admision.erro_selec_criterio' | translate }}</mat-error>
                </mat-form-field>
                
                <!-- Tag de criterios -->
                <div class="row">
                  <div class="col-sm-6 col-md-4 col-lg-3" align="center" id="info_basica" *ngIf="selectTipoIcfes">
                    <nb-card class="exp-card" (click)="perfil_editar('info_icfes')">
                      <nb-card-header>{{ 'admision.info_icfes' | translate }}</nb-card-header>
                      <nb-card-body class="icon-form">
                        <i class="fa fa-graduation-cap fa-5x"></i>
                      </nb-card-body>
                    </nb-card>
                  </div>       
      
                  <div class="col-sm-6 col-md-4 col-lg-3" align="center" id="formacion_academica" *ngIf="selectTipoEntrevista">
                    <nb-card class="exp-card" (click)="perfil_editar('info_entrevista')">
                      <nb-card-header>{{ 'admision.entrevista' | translate }}</nb-card-header>
                      <nb-card-body class="icon-form">
                        <i class="fa fa-address-card-o fa-5x"></i>
                      </nb-card-body>
                    </nb-card>
                  </div>
      
                  <div class="col-sm-6 col-md-4 col-lg-3" align="center" id="formacion_academica" *ngIf="selectTipoPrueba">
                    <nb-card class="exp-card" (click)="perfil_editar('info_prueba')">
                      <nb-card-header>{{ 'admision.prueba' | translate }}</nb-card-header>
                      <nb-card-body class="icon-form">
                        <i class="fa fa-book fa-5x"></i>
                      </nb-card-body>
                    </nb-card>
                  </div>

                  <div class="col-sm-6 col-md-4 col-lg-3" align="center" id="formacion_academica" *ngIf="selectTipoHojaVida">
                    <nb-card class="exp-card" (click)="perfil_editar('info_hoja')">
                      <nb-card-header>{{ 'admision.hoja_vida' | translate }}</nb-card-header>
                      <nb-card-body class="icon-form">
                        <i class="fa fa-folder fa-5x"></i>
                      </nb-card-body>
                    </nb-card>
                  </div>
                </div>
              </nb-card-header>
      
          </nb-card>   
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="!showTab">
          <nb-card-header>
            <div class="col-12">
              {{ 'admision.criterio' | translate }}: {{ tipo_criterio.Nombre }}
            </div>            
          </nb-card-header>
          <div class="body_criterios">
            {{ 'admision.programa' | translate }}: {{ tipo_criterio.ProgramaAcademico }}
            <br/><br/>
            {{ 'admision.periodo' | translate }}: {{ tipo_criterio.Periodo }}
          </div>        
          <br/>
          <div class="aviso_criterio" align="center">
            <label class="fondo_aviso">
              <strong>{{ 'admision.nota' | translate }}:</strong> {{ 'admision.aviso' | translate }}
            </label>
          </div>
          <br/>
          <ng2-smart-table [settings]="settings" [source]="dataSource"></ng2-smart-table>
          <br/><br/><br/>
          <button (click)="activateTab()" class="btn btn-info btn-sm"> <i class="nb-arrow-dropleft"></i> {{ 'GLOBAL.regresar' | translate }}</button>

        </div>
      </fieldset>
    </div>
  </nb-card-body>
</nb-card>
