@import '../../../@theme/styles/themes';
@include nb-install-component() {
  nb-card {
    padding: 1rem;
  }
  nb-card-header{
    font-size: 1rem;
  }
  .fieldseter {
    display: flow-root;
    -moz-padding-start: 1rem;
    -moz-padding-end: 1rem;
    -moz-padding-after: 1rem;
    -webkit-margin-start: 1rem;
    -webkit-margin-end: 1rem;
    -webkit-padding-before: 1rem;
    -webkit-padding-start: 1rem;
    -webkit-padding-end: 1rem;
    -webkit-padding-after: 1rem;
    min-width: -moz-min-content;
    border-width: 2px;
    border-radius: 0.4rem;
    border-style: groove;
    border-color: nb-theme(color-success);
    @include nb-for-theme(cosmic) {
      border-color: nb-theme(color-primary);
    }
  }
}

.mat-expansion-panel-body{
  overflow: auto;
}

.mat-expansion-panel-header {
  border-bottom-style: solid;
  border-bottom-color: #00d977;
  border-bottom-width: thin;
}

.exp-card {
  align-content: center;
  cursor: pointer;
  width: 13.5rem;
  height: 14.5rem;
  transition: background-color 1s;
}

.exp-card:hover {
  background-color: #3fc380;
}

.icon-form {
  vertical-align: middle;
}

.percentage {
  font-size: 1.6rem;
}

.mat-button {
  background-color: rgb(0, 162, 255);
  color: #fff;
}

.mat-button:disabled,
.mat-button[disabled] {
  background-color: rgb(0, 123, 194) !important;
  color: #ddd !important;
}

.fondo_aviso{
  background-color: rgb(254, 243, 205);
  padding: 10px;
  color: rgb(163, 139, 76);
  font-size: 14px;
  margin: 0em;
}
