
.mat-expansion-panel-body{
  overflow: auto;
}

.mat-expansion-panel-header {
  border-bottom-style: solid;
  border-bottom-color: #00d977;
  border-bottom-width: thin;
}

.exp-card {
  align-content: center;
  cursor: pointer;
  width: 13.5rem;
  height: 14.5rem;
  transition: background-color 1s;
}

.exp-card:hover {
  background-color: #3fc380;
}

.icon-form {
  vertical-align: middle;
}

.percentage {
  font-size: 1.6rem;
}

.fondo_aviso{
  background-color: rgb(254, 243, 205);
  padding: 10px;
  color: rgb(163, 139, 76);
  font-size: 14px;
  margin: 0em;
}
