<div #comprobante>
  <nb-card>
    <nb-card-body [nbSpinner]="loading"
                  nbSpinnerStatus="success"
                  nbSpinnerSize="xxlarge"
                  nbSpinnerMessage="{{ 'GLOBAL.cargando' | translate }}">
      <div>
        <div class="row" [hidden]="imprimir">
          <div [ngClass]="!en_revision ? 'col-md-11 text-center' : 'col-md-12 text-center'">
            <h1>{{ 'inscripcion.perfil' | translate }}</h1>
          </div>
          <div class="col-md-1 float-right" *ngIf="!en_revision">
            <button class="btn btn-danger btn-icon input-group-text btn-tn" (click)="editar($event,'salir_perfil')">X</button>
          </div>
        </div>
        <div class="row" *ngIf="imprimir">
          <div class="col-md-12">
            <nb-card>
              <nb-card-header class="row container">
                <div class="col-md-12">
                  <div class="col-md-12 info-comprobante">
                    <h4 class="text-center">
                      {{ 'inscripcion.comprobante_inscripcion' | translate }}
                    </h4>
                  </div>
                </div>
              </nb-card-header>
            </nb-card>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="suiteLoaded">
        <ngx-view-inscripcion class="col-md-12"></ngx-view-inscripcion>
        <ngx-view-info-persona (url_editar)="editar($event,'info_persona')"
                               (revisar_doc)="abrirDocumento($event)"
                               persona_id="{{info_persona_id}}"
                               class="col-md-12"
                               *ngIf="SuiteTags.info_persona.selected">
        </ngx-view-info-persona>
        <!--<ngx-view-info-caracteristica
          (url_editar)="editar($event,'info_caracteristica')"
          info_caracteristica_id="{{info_persona_id}}" class="col-md-6"></ngx-view-info-caracteristica>
        <ngx-view-informacion-contacto
          (url_editar)="editar($event,'info_contacto')"
          persona_id="{{info_persona_id}}" class="col-md-6"></ngx-view-informacion-contacto>-->
        <ngx-view-formacion-academica (url_editar)="editar($event,'formacion_academica')"
                                      (revisar_doc)="abrirDocumento($event)"
                                      persona_id="{{info_persona_id}}"
                                      class="col-md-12"
                                      *ngIf="SuiteTags.formacion_academica.selected">
        </ngx-view-formacion-academica>
        <ngx-view-idiomas (url_editar)="editar($event,'formacion_academica')"
                          persona_id="{{info_persona_id}}"
                          inscripcion_id="{{info_inscripcion_id}}"
                          class="col-md-12"
                          *ngIf="SuiteTags.idiomas.selected">
        </ngx-view-idiomas>
        <ngx-view-experiencia-laboral (url_editar)="editar($event,'experiencia_laboral')"
                                      (revisar_doc)="abrirDocumento($event)"
                                      persona_id="{{info_persona_id}}"
                                      class="col-md-12"
                                      *ngIf="SuiteTags.experiencia_laboral.selected">
        </ngx-view-experiencia-laboral>
        <!--<ngx-view-libro (url_editar)="editar($event,'default')"
          persona_id="{{info_persona_id}}" class="col-md-12"></ngx-view-libro>
        <ngx-view-articulo (url_editar)="editar($event,'default')"
          persona_id="{{info_persona_id}}" class="col-md-12"></ngx-view-articulo>
        <ngx-view-traduccion (url_editar)="editar($event,'default')"
          persona_id="{{info_persona_id}}" class="col-md-12"></ngx-view-traduccion>
        <ngx-view-otra-publicacion (url_editar)="editar($event,'default')"
          persona_id="{{info_persona_id}}" class="col-md-12"></ngx-view-otra-publicacion>
        <ngx-view-otro-documento (url_editar)="editar($event,'default')"
          persona_id="{{info_persona_id}}" class="col-md-12"></ngx-view-otro-documento>
        <ngx-view-produccion-tecnica (url_editar)="editar($event,'default')"
          persona_id="{{info_persona_id}}" class="col-md-12"></ngx-view-produccion-tecnica>
        <ngx-view-produccion-artes-arqu-diseno (url_editar)="editar($event,'default')"
          persona_id="{{info_persona_id}}" class="col-md-12"></ngx-view-produccion-artes-arqu-diseno>-->
        <ngx-view-produccion-academica (url_editar)="editar($event,'produccion_academica')"
                                      (revisar_doc)="abrirDocumento($event)"
                                       persona_id="{{info_persona_id}}"
                                       class="col-md-12"
                                       *ngIf="SuiteTags.produccion_academica.selected">
        </ngx-view-produccion-academica>
        <ngx-view-descuento-academico (url_editar)="editar($event,'descuento_matricula')"
                                      (revisar_doc)="abrirDocumento($event)"
                                      inscripcion_id="{{info_inscripcion_id}}"
                                      persona_id="{{info_persona_id}}"
                                      class="col-md-12"
                                      *ngIf="SuiteTags.descuento_matricula.selected">
        </ngx-view-descuento-academico>
        <ngx-view-propuesta-grado (url_editar)="editar($event,'propuesta_grado')"
                                  (listo)="activarImprimir($event)"
                                  (revisar_doc)="abrirDocumento($event)"
                                  inscripcion_id="{{info_inscripcion_id}}"
                                  persona_id="{{info_persona_id}}"
                                  class="col-md-12"
                                  *ngIf="SuiteTags.propuesta_grado.selected">
        </ngx-view-propuesta-grado>
        <ngx-view-documento-programa (url_editar)="editar($event, 'documento_programa')"
                                     (revisar_doc)="abrirDocumento($event)"
                                     inscripcion_id="{{info_inscripcion_id}}"
                                     persona_id="{{info_persona_id}}"
                                     class="col-md-12"
                                     *ngIf="SuiteTags.documento_programa.selected">
        </ngx-view-documento-programa>

        <div class="col-md-12" *ngIf="en_revision">
          <button mat-raised-button color="primary" (click)="descargar_compilado_zip()">{{ 'admision.descargar_zip' | translate }}</button>
        </div>

        <div class="col-md-12">
          <nb-card *ngIf="imprimir">
            <nb-card-body class="row container">
              <div class="col-md-12">
                <div class="col-md-12 info-comprobante">
                  <h5 class="text-center"> {{ 'inscripcion.imprimir_comprobante' | translate }} </h5>
                  <p>{{ 'inscripcion.info_comprobante' | translate }} </p>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>
